<!DOCTYPE html>

<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132992174-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-132992174-1');
    </script>
    <link href="~/Css/Common.css" rel="stylesheet" />
</head>
<body>
    <div class="content-panel">
        <div class="hole-list">
            @for (int i = 1; i <= 18; i++)
            {
                var className = "";
                if (WebSite.Controllers.HoleController.IsUnderConstructionHole(i) == true)
                {
                    className = "under-construction";
                }
                <a href="@String.Format("/Masters/Hole/{0}", i)" class="hole-link @className">Hole @i.ToString()</a>
            }
        </div>
        <div class="hole-description-panel">
            @RenderBody()
        </div>
    </div>
    <script src="~/JavaScript/jquery/jquery.js"></script>
    <script src="~/JavaScript/VideoImagePanel.js"></script>
</body>
</html>