body {
  background-color: #f0f8f0;
  color: #006622;
  margin: 0;
  padding: 0; }

img {
  max-width: 90%; }

table {
  table-layout: fixed;
  border-collapse: collapse; }

table td {
  padding: 2px; }

.content-panel {
  padding: 10px; }

.content-panel .hole-list {
  padding: 0;
  margin-bottom: 10px; }

.content-panel .hole-list a.hole-link {
  background-color: #006600;
  color: #ffffff;
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 4px;
  margin: 4px 4px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center; }

.content-panel .hole-list a.hole-link.under-construction {
  background-color: #aaaaaa; }

.hole-image-list-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%; }

.hole-image-list-panel img {
  width: 100%; }

.hole-image-list-panel .hole-image-panel {
  flex-basis: 25%;
  margin-right: 10px; }

.hole-image-list-panel .green-image-panel {
  flex-basis: -webkit-calc(75% - 10px);
  flex-basis: -moz-calc(75% - 10px);
  flex-basis: calc(75% - 10px); }

.hole-information-table {
  margin-bottom: 20px;
  background-color: #ffffff; }

.hole-information-table td {
  border: solid 1px #cccccc;
  padding: 6px; }

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  border-left: solid 3px #00aa33; }

.description-panel {
  margin-bottom: 40px;
  line-height: 1.5; }

.floating-left-image {
  float: left;
  margin-right: 10px; }

.floating-right-image {
  float: right;
  margin-left: 10px; }

.image-panel.center {
  text-align: center;
  width: 100%; }

.image-text-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.image-text-panel .image-panel {
  flex-basis: 30%; }

.image-text-panel .text-panel {
  flex-basis: -webkit-calc(70% - 10px);
  flex-basis: -moz-calc(70% - 10px);
  flex-basis: calc(70% - 10px); }

.sky-view-image-panel img {
  vertical-align: top;
  width: 200px;
  height: auto;
  margin: 0 10px 10px 0; }

.video-panel {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-bottom: 10px; }

.video-panel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-image-panel {
  max-width: 800px;
  background-color: #000000;
  text-align: center;
  padding: 20px; }

.video-image-panel img {
  cursor: pointer; }
