<div>
    <div class="section-title">Hole14</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole14.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green14.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>440y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Chinese Fir</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W40y×D38y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    左ドッグレッグの440yのパー4。
                    さらにフェアウェイは左から右に傾斜しているので右のラフにいきやすい。

                    グリーンは2段になっているが手前部分は存在しないのと同然で全てグリーンから手前のラフまで戻ってしまう。
                    上の段も左から右へ3段になっているのでとても簡単なバーディーチャンスにつくかとても難しい距離のある2パットとなることが多い。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole14_TeeShot.png" />
            </div>
            <div class="text-panel">
                フェアウェイが右に傾斜しているので距離が出る選手はセンターよりも左サイドにボールを落とさないと右のラフまで転がっていってしまう。
                グリーンは少し打ち上げで3段に分かれているのでスピンをかけて奥から戻す狙い方が一番やりやすい。
                ラフに行くとスピンコントロールで奥から戻すという方法が取れなくなり非常に狙いづらくなる。

            </div>
        </div>

        Bubba Watsonのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="12468" end="12484" image-url="/Image/Thumbnail/Hole14_Video_BubbaWatson1.png"></video-image-panel>
        素晴らしい理想的なティーショット。
        <br /><br />

        Jordan Spiethのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="12538" end="12555" image-url="/Image/Thumbnail/Hole14_Video_JordanSpieth1.png"></video-image-panel>
        フェアウェイ左サイドに落ちたボールが右傾斜でセンターくらいまで持っていかれてるのがわかる。
        <br /><br />



    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green14.png" />
            </div>
            <div class="text-panel">
                グリーンは手前は絶対にNG。Flase Frontで手前のラフまで戻ってしまう。
                奥の段はだいたい3段になっており、ピンの左サイド5yくらいのラインを狙っていって右へ戻ってくる狙い方がセオリーだ。
            </div>
        </div>

        Pihl Mickelsonの完璧なセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="13050" end="13068" image-url="/Image/Thumbnail/Hole14_Video_Phil1.png"></video-image-panel>
        そのままカップインでセカンドショットイーグル！この前の13番でもイーグルだったので2連続イーグルという離れ業。
        ちなみにこの次のホールでもカップまで10cmというあわや3連続イーグルかというショットを打っている。
        <br /><br />

        Adam Scottのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11496" end="11515" image-url="/Image/Thumbnail/Hole14_Video_AdamScott1.png"></video-image-panel>
        フェアウェイからスピンを効かせてピンの左奥から戻す。セオリー通りの完璧なショットである。
        ピン位置が真ん中の場合は右サイドに外すと右の段へ落ちてしまう。それを避けるため左サイドから寄せた方が良い。
        <br /><br />

        Adam Scottのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11782" end="11802" image-url="/Image/Thumbnail/Hole14_Video_AdamScott2.png"></video-image-panel>
        こちらはほぼ真上からピン根元へのナイスショット。ピン位置が右サイドの場合は手前だけ気をつければよいのでピンをデッドに狙っていける。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="12528" end="12545" image-url="/Image/Thumbnail/Hole14_Video_Tiger3.png"></video-image-panel>
        ラフからでスピンが効かないので左サイドから転がしてピンに寄せる素晴らしいショット。
        <br /><br />

        Phil Mickelsonの左の林からのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="13400" end="13423" image-url="/Image/Thumbnail/Hole14_Video_Phil2.png"></video-image-panel>
        ぎりぎりで止まってしまった。あと2-3y転がればピンまで寄ったはず。難しい下りのパットが残ってしまった。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="8881" end="8906" image-url="/Image/Thumbnail/Hole14_Video_Tiger1.png"></video-image-panel>
        距離が足りず手前のラフまで戻ってしまう。
        <br /><br />

        Matt Kucharのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="9683" end="9706" image-url="/Image/Thumbnail/Hole14_Video_MattKuchar1.png"></video-image-panel>
        ラフからなので10yほどランが出る。それを踏まえて左手前狙いの見事なショット。
        ラフからだと少し手前を狙うことになり少しでもショートすると手前のラフまで戻るので注意が必要だ。
        <br /><br />

        Paul Caseyのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10188" end="10215" image-url="/Image/Thumbnail/Hole14_Video_PaulCasey1.png"></video-image-panel>
        2y短く手前のラフへ。ラフからのショットだとスピンが効かないので上の段のすぐのところに落とさないとピンに寄らない。
        狙いすぎてショートするとこのようになってしまう。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Tigerの手前のラフからのアプローチショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="9028" end="9042" image-url="/Image/Thumbnail/Hole14_Video_Tiger2.png"></video-image-panel>
        ナイスアプローチでパーセーブ。
        <br /><br />

        Ian Poulterのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="10599" end="10612" image-url="/Image/Thumbnail/Hole14_Video_IanPoulter1.png"></video-image-panel>
        ナイスアプローチ。14番に関しては奥からのアプローチはそんなに難しくない。寄せるチャンスは十分にある。
        <br /><br />

        K.J.Choiのアプローチショット。
        <video-image-panel video-id="4sV4la-XBYk" start="12810" end="12824" image-url="/Image/Thumbnail/Hole14_Video_KJChoi1.png"></video-image-panel>
        微妙な距離が残ってしまった。
        <br /><br />

        Louis Woosthuizenの手前からのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="13065" end="13080" image-url="/Image/Thumbnail/Hole14_Video_LouisWoosthuizen1.png"></video-image-panel>
        14番は奥も手前も同じくらいの難易度だ。
        <br /><br />

        Charl Schwartzelの左サイドからのアプローチショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11549" end="11572" image-url="/Image/Thumbnail/Hole14_Video_CharlSchwartzel1.png"></video-image-panel>
        左サイドからはダウンスロープのグリーンへのアプローチになりボールが止まらない。かなり柔らかく打ったものの一番右サイドまでいってしまう。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green14.png" />
        </div>

        Charl Schwartzelのパット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11603" end="11615" image-url="/Image/Thumbnail/Hole14_Video_CharlSchwartzel2.png"></video-image-panel>
        上りは狙っていけるが奥までいくと返しのパットはプレッシャーがかかる。
        <br /><br />

        Phil Mickelsonのパット。
        <video-image-panel video-id="nnxCQQvLgXw" start="12970" end="12986" image-url="/Image/Thumbnail/Hole14_Video_Phil3.png"></video-image-panel>
        下りは恐ろしく速い。このタッチでもカップの向こうへ。
        <br /><br />

        Matt Kucharのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="12442" end="12462" image-url="/Image/Thumbnail/Hole14_Video_MattKuchar2.png"></video-image-panel>
        素晴らしいタッチ。このように14番はバーディーチャンスか非常に難しいパットのどちらかということが多い。
        <br /><br />

        Lee Westwoodのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="13381" end="13404" image-url="/Image/Thumbnail/Hole14_Video_LeeWestwood1.png"></video-image-panel>
        恐ろしい速さでカップの向こうまで転がってしまう。
        <br /><br />

        Fred Couplesのパット。
        <video-image-panel video-id="nnxCQQvLgXw" start="13063" end="13080" image-url="/Image/Thumbnail/Hole14_Video_FredCouples1.png"></video-image-panel>
        上からは非常に速く1mの距離からスリーパットすることも多々ある。このあと返しのパットも入らず。
        上からのパットは非常に神経を使う。
        <br /><br />

        Tigerのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="12873" end="12905" image-url="/Image/Thumbnail/Hole14_Video_Tiger4.png"></video-image-panel>
        残り1.5mからまさかのスリーパット。
        バーデイーチャンスからボギーということで相当な精神的ダメージを負ってしまうことになる。
        <br /><br />




    </div>
</div>
