<div>
    <div class="section-title">Hole1</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole1.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green1.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>445y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Tea Olive</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W28y×D36y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    少し右ドッグレックの445yのパー4。ティーショットからグリーンまで打ち上げている。
                    グリーンはいくつも面が分かれており複雑な形状をしている。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole1_TeeShot.png" />
            </div>
            <div class="text-panel">
                右のバンカーは胸の高さくらいありかなり深い。ボールがバンカーの奥側の壁の近くに止まった場合刻まざるを得ないので避けたい。
                超えるにはキャリーで320yほど必要なので狙いどころはバンカーの左側のフェアウェイとなる。
                飛ばせば飛ばすほどフェアウェイの幅が狭くなっておりティーショットは非常に難しい。
                3Wでバンカー手前狙いだとかなり広くなるのでそういう狙い方をする選手もいる。
                ドライバーでフェードをかけてバンカーの入り口くらいを狙う選手もいる。
                フェードを書けることで普段300y飛ばしている選手なら飛距離が280yくらいになるはずだ。
                少し狙いどころが広くなる
            </div>
        </div>
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole1_Hole9.png" />
            </div>
            <div class="text-panel">
                左に曲げると9番のフェアウェイになっている。左の林の中の木の根元などに比べれば大きく曲げてしまった方がいいかもしれない。
                ただ右ドッグレッグのコースなのでセカンドが200y前後の距離が残ってしまう。
            </div>
        </div>

        Tigerは1番は苦手にしていていつも曲げている。左に大きく曲げて9番へ。
        <video-image-panel video-id="4sV4la-XBYk" start="1830" end="1845" image-url="/Image/Thumbnail/Hole1_Video_Tiger1.png"></video-image-panel>

        Couplesも左へ
        <video-image-panel video-id="4sV4la-XBYk" start="1252" end="1262" image-url="/Image/Thumbnail/Hole1_Video_Couples1.png"></video-image-panel>

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        ティーショットを曲げると左に林、右にバンカー。右のバンカーは胸くらいまであり深い。
        <br /><br />

        K.J.Choiのバンカーからのナイスオン。
        <video-image-panel video-id="4sV4la-XBYk" start="2284" end="2300" image-url="/Image/Thumbnail/Hole1_Video_KJChoi1.png"></video-image-panel>
        <br /><br />

        Jordan Spiethの左の林からのナイスオン。
        <video-image-panel video-id="_tMQYqSULUY" start="2773" end="2800" image-url="/Image/Thumbnail/Hole1_Video_JordanSpieth1.png"></video-image-panel>
        <br /><br />

        Lee Westwoodの左の林からのショット
        <video-image-panel video-id="4sV4la-XBYk" start="2823" end="2840" image-url="/Image/Thumbnail/Hole1_Video_LeeWestwood1.png"></video-image-panel>
        木の枝に当たってしまった。
        <br /><br />

        右のバンカーはライ次第、左の林は前が見えてるかどうかで狙えるかどうか決まってくる。

        左へ大きく曲げると9番のフェアウェイから打てる。<br /><br />

        Couplesの9番のフェアウェイからのショット
        <video-image-panel video-id="4sV4la-XBYk" start="1697" end="1715" image-url="/Image/Thumbnail/Hole1_Video_Couples2.png"></video-image-panel>
        <br /><br />

        Tigerの9番のフェアウェイからのショット
        <video-image-panel video-id="4sV4la-XBYk" start="2215" end="2232" image-url="/Image/Thumbnail/Hole1_Video_Tiger2.png"></video-image-panel>
        グリーンに届かず右の手前へ。
        <br /><br />
        グリーンの手前はFalse Frontになっておりラフまで戻ってしまう。

        Jonas Blixtのフェアウェイからのショット
        <video-image-panel video-id="_tMQYqSULUY" start="2215" end="2240" image-url="/Image/Thumbnail/Hole1_Video_JonasBlixt1.png"></video-image-panel>
        グリーンに届かず手前のラフへ。
        <br /><br />


        左手前のピンへのLouis Oosthuizenのナイスショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="2100" end="2115" image-url="/Image/Thumbnail/Hole1_Video_LouisOosthuizen1.png"></video-image-panel>
        ちょっと右に行くと右へ流れるし左へ行くとグリーンの外へ。4yくらいしかない落とし所への素晴らしいショット。
        <br />

        左サイドのピンの左側は要注意。傾斜があり吸い込まれるようにグリーンの外側へボールが転がってしまう。
        ピンの左は2yくらいしか余裕がない。左に外すのは絶対にやってはいけない。
        パトロンに踏み固められた固いライからの非常に難しいアプローチが残ってしまいボギーがほぼ確定してしまう。<br />

        Hunter Mahanのショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="1595" end="1612" image-url="/Image/Thumbnail/Hole1_Video_HunterMahan1.png"></video-image-panel>
        左サイドの傾斜につかまりグリーンの外へ。
        <br /><br />

        Phil Mickelsonのショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="1584" end="1597" image-url="/Image/Thumbnail/Hole1_Video_Phil2.png"></video-image-panel>
        左のバンカーからピンまで5y程度しかない。ラフからではスピンがかからず止まらない。
        バーディーチャンスは諦め最もアプローチしやすい右サイドのラフを狙っていくという戦略的なショット。
        この後パットでしっかり寄せてパーで切り抜けるのはさすがの一言。
        <br /><br />

        左手前のピンの場合は狙いどころはグリーンセンターだ。バーディチャンスにつけることは難しい。
        ピンを狙っていって左に外すとボギーの可能性が高くなる。

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        奥からは速く難しいアプローチが残る。
        右のピンの場合、手前からは割と難しいアプローチが残る。波打つグリーンで落とし所が難しい。
        右手前のピンの場合、右サイドに外すのはOK。手前よりは右サイドの方がよい。
        左手前のピンの場合、左サイドに外すのは絶対ダメ。寄らないのでほぼボギーになってしまう。
        <br /><br />

        Charls Schwartzelのチップインバーディ。
        <video-image-panel video-id="vegqUyO_YWk" start="2321" end="2340" image-url="/Image/Thumbnail/Hole1_Video_CharlSchwartzel1.png"></video-image-panel>
        <br /><br />

        Fred Couplesの奥からのパターでのアプローチ
        <video-image-panel video-id="4sV4la-XBYk" start="1920" end="1932" image-url="/Image/Thumbnail/Hole1_Video_Couples3.png"></video-image-panel>
        <br /><br />

        松山のアプローチショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="2930" end="2940" image-url="/Image/Thumbnail/Hole1_Video_HidekiMatsuyama1.png"></video-image-panel>
        右のピンの場合、手前からのアプローチはグリーンが波打っているので距離感が難しい。
        <br /><br />

        Tigerのアプローチショット。
        <video-image-panel video-id="4sV4la-XBYk" start="2535" end="2548" image-url="/Image/Thumbnail/Hole1_Video_Tiger3.png"></video-image-panel>
        右奥のちょうど上ってすぐのところにピンが切ってあるのでこちらも距離感が難しい。結局奥のカラーへ。
        <br /><br />

        Matt Kucharのアプローチショット。
        <video-image-panel video-id="_tMQYqSULUY" start="2578" end="2592" image-url="/Image/Thumbnail/Hole1_Video_MattKuchar1.png"></video-image-panel>
        右手前のピンは手前よりは横からの方が寄せやすい。
        <br /><br />

        Json Dayのアプローチショット。左奥のピンは手前からのアプローチは比較的簡単だ。
        <video-image-panel video-id="vegqUyO_YWk" start="1647" end="1662" image-url="/Image/Thumbnail/Hole1_Video_JsonDay1.png"></video-image-panel>
        ランニングアプローチで寄せていけるのでそんなに難しくはない。<br /><br />

        左サイドのピンで左に外すとほぼボギーが確定する。セカンドショットを同サイドに外すのは避けたい。

        Hunter Mahanの左からのロブショットによるアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="1864" end="1891" image-url="/Image/Thumbnail/Hole1_Video_HunterMahan2.png"></video-image-panel>
        全くよらない。長いパットが入ればやっとパーという感じになってしまう。

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green1.png" />
        </div>

        Json Dayの奥からのパット。
        <video-image-panel video-id="08HvndZs09I" start="2899" end="2915" image-url="/Image/Thumbnail/Hole1_Video_JsonDay2.png"></video-image-panel>
        <br /><br />

        Phil Mickelsonの右奥のピンへのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="3160" end="3170" image-url="/Image/Thumbnail/Hole1_Video_Phil1.png"></video-image-panel>
        <br /><br />

        1番のグリーンは簡単なラインが少なくバーディーを取るのは容易ではない。

    </div>
</div>
