<div>
    <div class="section-title">Hole9</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole9.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green9.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>460y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Carolina Cherry</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W27y×D35y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-information-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                8
                            </td>
                            <td class="holestats-data">
                                59
                            </td>
                            <td class="holestats-data">
                                18
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.161
                            </td>

                            <td class="holestats-data">
                                9
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                6
                            </td>
                            <td class="holestats-data">
                                53
                            </td>
                            <td class="holestats-data">
                                23
                            </td>
                            <td class="holestats-data">
                                4
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                4.322
                            </td>

                            <td class="holestats-data">
                                6
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                8
                            </td>
                            <td class="holestats-data">
                                36
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.019
                            </td>

                            <td class="holestats-data">
                                8
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                15
                            </td>
                            <td class="holestats-data">
                                28
                            </td>
                            <td class="holestats-data">
                                8
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.943
                            </td>

                            <td class="holestats-data">
                                11
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 4.14</span> <span class="holestats-history-data">Historical Rank: 12</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    左ドッグレッグな460yのパー4。左は1番ホール、右は8番ホールになっている。
                    ティーショットの落としどころはダウンヒルになっておりボールの落下点は見えない。
                    セカンドショットは前足下がりのライから打ち上げのショットとなる。スピンコントロールが重要だ。
                    グリーンは3段グリーンでかなりの傾斜がある。手前10yは全てアウトでラフまで戻ってきてしまう。<br /><br />

                    9番のティーグラウンドはくぼみになっていて風の向きを感じることができない。
                    8番でグリーンに向かって歩いている時に風の向きをチェックしておくことを忘れないようにしないといけない。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole9_SkyView1.png" />
            </div>
            <div class="text-panel">
                ティーショットはドローで打っていくのが理想。左ドッグレッグの傾斜に当たってランがでる。
                左サイドや左の林にいくとスタイミーになりピンが見えないので難しい状況になることが多い。
                右の林は入れても木の根元とかでなければセカンドショットでグリーン周りまでは持っていくことができる。
                その後しっかり寄せればパーセーブはできるのでそこまでプレッシャーはない。
                左よりは右にと思ってティーショットを打っているのでどちらかと言えば右の林にいくシーンを見ることが多いだろう。
            </div>
        </div>

        Roly Mcllroyのティーショット。
        <video-image-panel video-id="vegqUyO_YWk" start="8647" end="8666" image-url="/Image/Thumbnail/Hole9_Video_RolyMcllroy1.png"></video-image-panel>
        素晴らしい理想的なティーショット。ドローで左へ流れる傾斜に当ててランが出ているのがわかる。
        <br /><br />

        Jason Dayのティーショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="8033" end="8055" image-url="/Image/Thumbnail/Hole9_Video_JasonDay1.png"></video-image-panel>
        右に曲げてしまう。この後、林の中からのショットとなる。
        <br /><br />


    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green9.png" />
            </div>
            <div class="text-panel">
                ピン位置は3パターン。手前、中央、一番奥の3つ。傾斜が凄いのでピンの奥に落としてバックスピンで戻すのがセオリーだ。
                一番奥のピンの場合は奥からのアプローチは避けたい気持ちが出てくるためなかなか奥の段まで突っ込むのは難しい。
                意外とラフからのショットの方がスピンがかからないので狙いやすいだろう。
            </div>
        </div>

        Adam Scottのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="7966" end="7990" image-url="/Image/Thumbnail/Hole9_Video_AdamScott1.png"></video-image-panel>
        ピンの少し奥に落として戻す。理想的なショットである。
        <br /><br />

        Jason Dufnerのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="7439" end="7456" image-url="/Image/Thumbnail/Hole9_Video_JasonDufner1.png"></video-image-panel>
        左サイドはスタイミーになりがちなのでできれば右サイドから打ちたい。これもピン奥から戻してナイスショット。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="08HvndZs09I" start="7452" end="7465" image-url="/Image/Thumbnail/Hole9_Video_Tiger3.png"></video-image-panel>
        セカンドカットのラフからなのでスピンがあまりかからない。それを踏まえてピンの少し手前に落としてバーディーチャンス
        <br /><br />

        Fred Couplesのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="8732" end="8753" image-url="/Image/Thumbnail/Hole9_Video_Couples1.png"></video-image-panel>
        奥から戻そうとしたが戻り切らず。奥からの非常に速いパットが残ってしまった。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="7511" end="7537" image-url="/Image/Thumbnail/Hole9_Video_Tiger1.png"></video-image-panel>
        手前は全てFalse Fornt。ラフまで戻ってきてしまう。セカンドショットのライはかなりのダウンヒルなので距離感が難しい。
        <br /><br />

        Phil Mickelsonの左サイドからセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="9236" end="9250" image-url="/Image/Thumbnail/Hole9_Video_Phil1.png"></video-image-panel>
        低くフェードをかけてピンを狙っていく。距離が少しだけ足りず手前のラフへ。
        <br /><br />

        Matt Kucharの左サイドからセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="8316" end="8329" image-url="/Image/Thumbnail/Hole9_Video_MattKuchar1.png"></video-image-panel>
        上に木がありグリーン手前はバンカー。グリーンを直接狙えないので奥のアプローチしやすいところを狙ってショット。
        パトロンにぶち込んでしまった。
        <br /><br />

        Jason Dayの右の林からのセカンドショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="8572" end="8592" image-url="/Image/Thumbnail/Hole9_Video_JasonDay2.png"></video-image-panel>
        低い弾道で転がし上げてグリーンまで。
        <br /><br />

        Rocco Mediateのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="6392" end="6420" image-url="/Image/Thumbnail/Hole9_Video_RoccoMediate1.png"></video-image-panel>
        なんとピンを直撃。そのまま手前のラフまで戻ってしまう。
        <br /><br />


    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Roly Sabbatiniのアプローチショット。
        <video-image-panel video-id="PWqlyrezJEc" start="3905" end="3918" image-url="/Image/Thumbnail/Hole9_Video_RolySabbatini1.png"></video-image-panel>
        傾斜の凄さがわかるだろうか。これだけソフトに落ちても転がっていく。
        <br /><br />

        Matt Kucharのアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="8523" end="8540" image-url="/Image/Thumbnail/Hole9_Video_MattKuchar2.png"></video-image-panel>
        ここからは平らな面に向かって打つのでアプローチは易しい。しかしこのあとここからスリーパットをしてしまった。
        <br /><br />

        ピンに直撃した後のRocco Mediateのアプローチ。
        <video-image-panel video-id="nnxCQQvLgXw" start="6612" end="6628" image-url="/Image/Thumbnail/Hole9_Video_RoccoMediate2.png"></video-image-panel>
        奥の傾斜から戻して寄せるのがセオリー。奥からの難しいパットが残るが割り切らないと危険だ。
        欲張ってピンの手前を狙うと一歩間違うとまた同じところにボールが戻ってくる。
        <br /><br />

        Jim Furykのアプローチ。
        <video-image-panel video-id="2ivVPNDc8ts" start="8259" end="8270" image-url="/Image/Thumbnail/Hole9_Video_JimFuryk1.png"></video-image-panel>
        左手前からのアプローチは非常に難しい。ここに外すとミスが出やすいので気をつけたいところだ。
        <br /><br />

        Jason Dayのアプローチ。このカメラアングルだと狙いどころの難しさがよくわかる。
        <video-image-panel video-id="08HvndZs09I" start="8227" end="8248" image-url="/Image/Thumbnail/Hole9_Video_JasonDay3.png"></video-image-panel>
        バンカーを越えたところにふわっと落とさないとピンに寄らない。
        これも距離が足りず同じところに戻ってきてしまう。外すなら右サイドに外さないとリスクが高い。
        <br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green9.png" />
        </div>

        Tigerのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="6002" end="6012" image-url="/Image/Thumbnail/Hole9_Video_Tiger2.png"></video-image-panel>
        同じ段の真横からはまだ狙っていける。
        <br /><br />

        Ian Poulterのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="6904" end="6924" image-url="/Image/Thumbnail/Hole9_Video_IanPoulter1.png"></video-image-panel>
        段が違うとほぼ直角に曲がっていく。見事に入ってナイスパットである。
        <br /><br />

        Bubba Watsonのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="8985" end="9005" image-url="/Image/Thumbnail/Hole9_Video_BubbaWatson1.png"></video-image-panel>
        1y転がしただけで傾斜で転がっていく。上からねじ込むのは非常に難しい。
        <br /><br />

        Rickie Fowlerのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="8291" end="8312" image-url="/Image/Thumbnail/Hole9_Video_RickieFowler1.png"></video-image-panel>
        ほとんどピンに背中を向けてるような状態からのパット。
        <br /><br />

    </div>
</div>
