<div>
    <div class="section-title">Hole16</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole16.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green16.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>170y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Redbud</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W33y×D41y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">

                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <img src="~/Image/Green16.png" /><br />

        左サイドの方が簡単で右の上の段のピンは難しい。左手前、左真ん中（最終日）はバーディーが狙える。
        右の奥は非常に難しいピン位置となる。
        <br /><br />

        左手前と左真ん中はピンの右サイドを狙って傾斜で寄せていくのがセオリー。
        多くの選手がこの狙い方で狙っていく。ショットの精度に自信があればピンをストレートに狙っても良い。
        左手前のバンカーは入れても何の問題もなく寄せれるので入れてもオーケー。
        <br /><br />

        左奥は距離があるのと左サイドから5yしかないため左サイドには外したくない。
        左真ん中のピン位置くらいを狙って長めのバーディーパットが入ったらラッキーという感じの選手が多いだろう。
        <br /><br />

        右手前はわずが5y×5yの狙いどころしかない。ただ右奥よりは距離が短いのでまだ狙っていけなくはない。
        手前はバンカー、右サイドは傾斜で下の段へ、右はラフで簡単でないアプローチという感じで難しい。
        手前のバンカーは入れても寄せるのは簡単なのでそんなに問題はない。
        左にいってしまって下の段からはタフなパットが残る。
        右サイドはライ次第だが難しいアプローチが残ることもあるので避けたいところ。
        <br /><br />

        右奥は非常に難しい。距離があり横幅は5yくらいしかない。
        右のバンカーにいれてしまうと次のバンカーショットを上の段に止めるのは至難の業。
        止まらずに下の段へ。そしてタフなアップヒルのパットが残りツーパットでボギーということになる。
        右のバンカーは絶対に避けたいところ。<br />
        奥も避けたい。奥からはダウンスロープに向かって非常に気を使うアプローチが残る。
        少しでもオーバーすると下の段へいってしまう。<br />
        左手前を狙っていって運良く上の段に止まればラッキー。
        下の段へいってしまったらなんとかツーパットでナイスパーという感じになる。
        <br /><br />

        Louis Oosthuizenの今まで誰も見たことのない形のホールインワン。
        <video-image-panel video-id="bMf0JpfpZu8" start="10803" end="10830" image-url="/Image/Thumbnail/Hole16_Video_LouisOosthuizen1.png"></video-image-panel>
        ボールに当たってカップへそのまま吸い込まれていく。
        <br /><br />

        Matt Kucharのティーショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11090" end="11118" image-url="/Image/Thumbnail/Hole16_Video_MattKuchar1.png"></video-image-panel>
        傾斜で転がしてそのままカップイン！
        <br /><br />

        Tigerのティーショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="13428" end="13445" image-url="/Image/Thumbnail/Hole16_Video_Tiger1.png"></video-image-panel>
        傾斜を使わずピンをデッドに狙ってバーディーチャンス。
        <br /><br />


    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Tigerのアプローチショット。
        <video-image-panel video-id="HGzvqU-T85I" start="13900" end="13935" image-url="/Image/Thumbnail/Hole16_Video_Tiger3.png"></video-image-panel>
        これはもはや説明不要であろう。神業である。<br />

        <video-image-panel video-id="HGzvqU-T85I" start="14064" end="14088" image-url="/Image/Thumbnail/Hole16_Video_Tiger4.png"></video-image-panel>
        <br /><br />

        Luke Donaldの左手前のバンカーからのショット。
        <video-image-panel video-id="08HvndZs09I" start="5643" end="5670" image-url="/Image/Thumbnail/Hole16_Video_LukeDonald1.png"></video-image-panel>
        奥の傾斜から戻してチップインバーディー！
        <br /><br />

        Matt Kucharの左サイドからのアプローチショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="10218" end="10236" image-url="/Image/Thumbnail/Hole16_Video_MattKuchar2.png"></video-image-panel>
        傾斜で転がしてピンに当たってカップイン！
        <br /><br />

        Angel Cabreraの奥からのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="14682" end="14700" image-url="/Image/Thumbnail/Hole16_Video_AngelCabrera1.png"></video-image-panel>
        奥からでも左サイドのピンへ寄せるのはそんなに難しくない。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green16.png" />
        </div>

        Tigerのパット。
        <video-image-panel video-id="fugevHpHSH8" start="797" end="820" image-url="/Image/Thumbnail/Hole16_Video_Tiger2.png"></video-image-panel>
        ご覧のように奥からは非常に速い。このタッチでこれだけオーバーしてしまう。返しのパットも入らずボギー。
        奥にいくよりは下の段からのパットの方がまだやりやすいだろう。
        <br /><br />

        Charl Schwartzelのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="14129" end="14140" image-url="/Image/Thumbnail/Hole16_Video_CharlSchwartzel1.png"></video-image-panel>
        <br /><br />

        Phil Mickelsonの上の段からのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="15144" end="15160" image-url="/Image/Thumbnail/Hole16_Video_Phil1.png"></video-image-panel>
        素晴らしい距離感である。
        <br /><br />

    </div>
</div>
