<div>
    <div class="section-title">Hole13</div>
    <img src="~/Image/Hole13.png" /><br />
    <img src="~/Image/Green13.png" /><br /><br />
    左ドッグレッグのパー5。短いパー5なのでバーディが狙えるホール。
    <table class="hole-information-table">
        <tbody>
            <tr>
                <td>Par</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Distance</td>
                <td>510y</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Azalea</td>
            </tr>
            <tr>
                <td>Green</td>
                <td>W43y×D23y</td>
            </tr>
        </tbody>
    </table>
    <br />
    セカンドショットに全てがかかる。
    <br /><br /><br /><br />

    <div class="section-title">ティーショット</div>
    <div class="description-panel">

        13番は大きく左ドッグレッグしている。
        <video-image-panel video-id="vegqUyO_YWk" start="8408" end="8440" image-url="/Image/Thumbnail/Hole13_Video_SkyView.png"></video-image-panel>
        <br /><br />

        <img src="~/Image/Hole13_TeeShot.png" />
        <br />
        ドライバーでストレートに打つと林までいってしまう。
        林まで届かない3Wで270yくらい打つかドライバーでドローをかけていくかのどちらかだ。
        <div style="clear:both;margin-bottom:40px;"></div>

        Tigerのティーショット。
        <video-image-panel video-id="vegqUyO_YWk" start="8385" end="8400" image-url="/Image/Thumbnail/Hole13_Video_Tiger1.png"></video-image-panel>
        ドローをかけてベストポジション。理想的なショットである。
        <br /><br />

        Phil Mickelsonのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="11801" end="11818" image-url="/Image/Thumbnail/Hole13_Video_Phil1.png"></video-image-panel>
        フェードがかからず右の林へ。
        <br /><br />


    </div>

    <div class="section-title">セカンドショット（ツーオン狙い）</div>
    <div class="description-panel">

        Phil Mickelsonの林の中からのスーパーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="12392" end="12410" image-url="/Image/Thumbnail/Hole13_Video_Phil2.png"></video-image-panel>
        200y先のクリークの少し先のカラーに落としてイーグルチャンス。
        <br /><br />

        Tigerの完璧なセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="11193" end="11210" image-url="/Image/Thumbnail/Hole13_Video_Tiger3.png"></video-image-panel>
        イーグルチャンス。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="8222" end="8240" image-url="/Image/Thumbnail/Hole13_Video_Tiger2.png"></video-image-panel>
        画面からもわかるようにセカンドショットは相当なつま先あがりのライになる。左右のコントロールが難しい。
        このショットは残念ながら上の段に止まってしまった。
        <br /><br />

        Rickie Fowlerのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11628" end="11646" image-url="/Image/Thumbnail/Hole13_Video_RickieFowler1.png"></video-image-panel>
        こちらも上の段で止まってしまった。右サイドのクリークが気になるのでどうしても左サイドの上の段に行きがちだ。
        <br /><br />

        Fred Couplesのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="11880" end="11898" image-url="/Image/Thumbnail/Hole13_Video_FredCouples1.png"></video-image-panel>
        ティーショットを左に曲げると林がスタイミーになり狙えない。レイアップすることになる。
        <br /><br />

        Peter Hansonのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="12633" end="12650" image-url="/Image/Thumbnail/Hole13_Video_PeterHanson1.png"></video-image-panel>
        クリークへ。と思ったらなんと石に跳ね返ってセーフ。
        <br /><br />





    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        ほとんどの選手がツーオン狙いで打っていき、右手前のクリークが怖くて左サイド、奥目にリスクヘッジするため強く入った時は奥からの非常に難しいアプローチが残る。
        特に左サイドの手前から2番目のバンカー近辺にボールが行くことが多い。
        奥にいった場合、プロのアプローチのテクニックを見ることができる。
        <div class="image-panel">
            <img src="~/Image/Green13.png" />
        </div>

        Tigerのレイアップした後のサードショット。
        <video-image-panel video-id="4sV4la-XBYk" start="11821" end="11840" image-url="/Image/Thumbnail/Hole13_Video_Tiger4.png"></video-image-panel>
        バックスピンで奥の傾斜から戻すスーパーショット。
        <br /><br />

        Charl Schwartzelの奥からのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11641" end="11670" image-url="/Image/Thumbnail/Hole13_Video_CharlSchwartzel1.png"></video-image-panel>
        バックスピンをかけて奥の傾斜から戻してバーディーチャンス。
        <br /><br />

        Louis Oosthuizenの奥からのアプローチショット
        <video-image-panel video-id="qFYo6iOL7M4" start="12352" end="12370" image-url="/Image/Thumbnail/Hole13_Video_LouisOosthuizen1.png"></video-image-panel>
        素晴らしい距離感とラインの読みである。
        <br /><br />

        K.J.Choiの奥のバンカーからのショット。
        <video-image-panel video-id="4sV4la-XBYk" start="11925" end="11935" image-url="/Image/Thumbnail/Hole13_Video_KJChoi1.png"></video-image-panel>
        止まってしまった。奥のバンカーに入れてしまうとダウンスロープへ打っていくので非常に難しい。
        <br /><br />

        Adam Scottのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11136" end="11150" image-url="/Image/Thumbnail/Hole13_Video_AdamScott1.png"></video-image-panel>
        かなりの前足下がりのライなのが画面からもわかる。右サイドのピンの周りの傾斜は意外と平らだ。
        右に戻ってくることを期待してピンの左サイドに打ったが戻って来なかった。
        <br /><br />

        Vijay Singhのつま先下がりのバンカーからダウンヒルのグリーンへという非常に難しいショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="10534" end="10555" image-url="/Image/Thumbnail/Hole13_Video_VijaySingh1.png"></video-image-panel>
        全く寄らず。しかし奥からは難しいのでこれでも仕方ない。
        <br /><br />

        Tigerの奥からのアプローチショット
        <video-image-panel video-id="vegqUyO_YWk" start="8870" end="8890" image-url="/Image/Thumbnail/Hole13_Video_Tiger5.png"></video-image-panel>
        スピンがうまく効かずに大きくオーバー。奥からはやはり難しい。
        <br /><br />



    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green13.png" />
        </div>

        Phil Mickelsonのイーグルパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="12738" end="12750" image-url="/Image/Thumbnail/Hole13_Video_Phil3.png"></video-image-panel>
        上りのスライスラインを読み切ってイーグル！
        <br /><br />

        Thomas Pietersのパット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10337" end="10350" image-url="/Image/Thumbnail/Hole13_Video_ThomasPieters1.png"></video-image-panel>
        上からのパットの速さがわかるだろうか。触れただけで3mほどオーバーしてしまった。
        <br /><br />

        Tigerのパット。
        <video-image-panel video-id="nnxCQQvLgXw" start="11257" end="11272" image-url="/Image/Thumbnail/Hole13_Video_Tiger6.png"></video-image-panel>
        上からは強く打てずラインも曲がる。1mでも入れることは難しい。
        <br /><br />

        Charl Schwartzelのパット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10660" end="10687" image-url="/Image/Thumbnail/Hole13_Video_CharlSchwartzel2.png"></video-image-panel>
        途中で止まりかかったボールが再度加速する。素晴らしい距離感だ。
        <br /><br />

        K.J.Choiのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="12054" end="12079" image-url="/Image/Thumbnail/Hole13_Video_KJChoi2.png"></video-image-panel>
        このカメラアングルだと下りの速さと曲がり幅のどちらとも難易度が高いのが良くわかる。
        <br /><br />


    </div>
</div>
