<div>
    <div class="section-title">Hole7</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole7.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green7.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>450y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Pampas</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W36y×D19y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-information-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                10
                            </td>
                            <td class="holestats-data">
                                41
                            </td>
                            <td class="holestats-data">
                                29
                            </td>
                            <td class="holestats-data">
                                6
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                4.391
                            </td>

                            <td class="holestats-data">
                                1
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                44
                            </td>
                            <td class="holestats-data">
                                28
                            </td>
                            <td class="holestats-data">
                                6
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.356
                            </td>

                            <td class="holestats-data">
                                4
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                14
                            </td>
                            <td class="holestats-data">
                                30
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.906
                            </td>

                            <td class="holestats-data">
                                12
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                35
                            </td>
                            <td class="holestats-data">
                                7
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.962
                            </td>

                            <td class="holestats-data">
                                9
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 4.15</span> <span class="holestats-history-data">Historical Rank: 10</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    ストレートな450yのパー4。ティーショットの落としどころは左右から林がせり出していて狭い。
                    セカンドショットはかなりの打ち上げとなる。グリーンは手前は全てバンカーでガードされている。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole7_SkyView1.png" />
            </div>
            <div class="text-panel">
                左右からせり出した林の枝が上空にあるのでかなり狭い。落としどころのフェアウェイの幅は約30y。
                フェアウェイが右に傾斜しているのでフェアウェイセンターにバウンドしたボールが右ラフまで転がっていく。
                つまり実際に狙っていけるフェアウェイは半分くらいしかないことになる。
                林に入ってしまった場合、上が枝があり高い球を打てない場合はグリーンに乗せるのはほぼ不可能。
                上が空いてないなら低い球で狙っていくしかないが、グリーンが打ち上げていてボールが転がらないし手前が全てガードバンカーがあるため狙えない。
                なのでティーショットにはプレッシャーがかかる。曲げるとなんとかパーをセーブしにいこうという戦いになる。
            </div>
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole7_TeeShot_0.png" />
            </div>
            <div class="text-panel">
                ピンが右の時はフェアウェイ左サイド、ピンが左の時はフェアウェイ右サイドがベター。
                理想的なのは少しドローでフェアウェイ左サイドを狙っていく。
                ストレートボールを打つとフェアウェイの傾斜で右に転がり右のラフへいってしまう。
                ピンポジションが右サイドだと木の枝が邪魔をして狙えなくなってしまう。<br /><br />

                3Wで250y地点を狙っていくと少し広くなる。ドライバーが荒れてる場合は手前も選択肢としてはありだ。
                グリーンの縦幅は19yとそんなに大きくないため、ラフに入れるとフライヤーなどで縦距離の調整が難しい。
                多少距離が長くてもフェアウェイから打った方がスピンコントロールなども含めラフからよりはグリーンには乗せやすい。
            </div>
        </div>
    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        ピンが奥の場合は少しでも右に曲げると下の段へいってしまう。

        Tiger Woodsのセカンドショット。雨で湿った重いラフで距離が足りず下の段へ。
        <video-image-panel video-id="LeOI3L3Af3o" start="449" end="468" image-url="/Image/Thumbnail/Hole7_Video_Tiger1.png"></video-image-panel>
        「フライヤーで奥にいくのは絶対に避けたい」というのが若干感じられるスウィング。奥に行くと良くてパー。悪くてボギー。
        ラフからなのでこれ以上奥を狙うのは難しい。ティーショットをフェアウェイに置くことが重要だ。<br /><br />

        Roly Mcllroyはフェアウェイから完璧なスピンコントロール。Tigerと服装が同じでまるで同じ人のように見える（笑）
        <video-image-panel video-id="IVh2PCO2y4Y" start="464" end="482" image-url="/Image/Thumbnail/Hole7_Video_RolyMcllroy1.png"></video-image-panel>
        スピンがかかりすぎないように打っている。<br /><br />

        ピンポジションが右手前の場合はピンの左奥へ落として傾斜とバックスピンで戻すという狙い方がセオリーだ。<br />

        Fred Couplesの理想的なショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="6710" end="6730" image-url="/Image/Thumbnail/Hole7_Video_Couples1.png"></video-image-panel>
        Tigerのイーグル
        <video-image-panel video-id="4sV4la-XBYk" start="6625" end="6650" image-url="/Image/Thumbnail/Hole7_Video_Tiger4.png"></video-image-panel>
        <br /><br />


        しかしティーショットがセカンドカットまでいってしまうと途端に狙うのが難しくなってしまう。

        Tiger Woodsの左ラフからのショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="5603" end="5622" image-url="/Image/Thumbnail/Hole7_Video_Tiger2.png"></video-image-panel>
        木の枝が邪魔をして曲げないと狙えず、ラフがボールとクラブの間に挟まってスピンも効かない。右奥へ行ってしまった。
        <br /><br />

        Phil Mickelsonの右の林からのスーパーショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="3516" end="3540" image-url="/Image/Thumbnail/Hole7_Video_Phil1.png"></video-image-panel>
        <br /><br />

        林に入れた場合は手前のバンカーでもオーケーだ。右手前のピンポジションならバンカーショットでピンに寄せるのはそんなに難しくない。
        普通のショットを打てればパーセーブができる。

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        Tigerのアプローチ。
        <video-image-panel video-id="8ZCCX-_dg_A" start="4343" end="4351" image-url="/Image/Thumbnail/Hole7_Video_Tiger6.png"></video-image-panel>

        Phil Mickelsonの傾斜を使ったアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="7283" end="7310" image-url="/Image/Thumbnail/Hole7_Video_Phil3.png"></video-image-panel>
        <br /><br />

        Justin Roseの傾斜を使ったアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="8151" end="8170" image-url="/Image/Thumbnail/Hole7_Video_JustinRose1.png"></video-image-panel>
        <br /><br />

        Dustin Johnsonの傾斜を使ったバンカーショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="6683" end="6699" image-url="/Image/Thumbnail/Hole7_Video_DustinJohnson1.png"></video-image-panel>
        <br /><br />

        Tigerの右奥からのアプローチ。
        <video-image-panel video-id="nnxCQQvLgXw" start="5952" end="5972" image-url="/Image/Thumbnail/Hole7_Video_Tiger3.png"></video-image-panel>
        <br /><br />

        Lee Westwoodのバンカーからのアプローチ。
        <video-image-panel video-id="4sV4la-XBYk" start="7350" end="7380" image-url="/Image/Thumbnail/Hole7_Video_LeeWestwood1.png"></video-image-panel>
        <br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green7.png" />
        </div>

        Philのパット。
        <video-image-panel video-id="9nNr8DS6Uuo" start="6242" end="6250" image-url="/Image/Thumbnail/Hole7_Video_Phil4.png"></video-image-panel>
        上ってから下るので距離感が非常に難しい。戻ってくることは絶対に避けないといけないのでピンの奥までいくことが多い。
        <br /><br />

        奥からはめちゃくちゃ速い。

        Tigerの奥からのパット。
        <video-image-panel video-id="fugevHpHSH8" start="252" end="262" image-url="/Image/Thumbnail/Hole7_Video_Tiger5.png"></video-image-panel>
        <br /><br />

        Edoardo Morinariの奥からのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="2441" end="2454" image-url="/Image/Thumbnail/Hole7_Video_EdoardoMolinari1.png"></video-image-panel>
    </div>
</div>
