<div>
    <div class="section-title">Hole17</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole17.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green17.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>440y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Nandina</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W34y×D32y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    ストレートな440yの打ち上げのパー4。打ち上げなのでドライバーのランが出ない。
                    打ち上げのためピンの根元は見えづらく、グリーンも段が細かく分かれているのでバーディーチャンスにつけるのは難しい。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole17_TeeShot_0.png" />
            </div>
            <div class="text-panel">
            </div>
        </div>

        Dustin Johnsonのティーショット
        <video-image-panel video-id="bMf0JpfpZu8" start="14519" end="14534" image-url="/Image/Thumbnail/Hole17_Video_DustinJohnson1.png"></video-image-panel>
        ランがほとんど出てないのがわかる。

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green17.png" />
            </div>
            <div class="text-panel">
                ピンが右サイドの場合、右手前には注意したい。False Frontでグリーンの外まで戻ってしまう。
                右サイドのリスクを避けるため狙いはピンの左サイドとなる。
                ピンが左奥の場合も傾斜を使うことを考えるとピンの右サイドとなる。
                そして多くの他のホールと同様、奥も厳禁だ。ピン位置が奥の場合は全くよらない。
                ということで多くの選手はグリーンセンター狙いで打っていく。
            </div>
        </div>


        Matt Kucharのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11579" end="11594" image-url="/Image/Thumbnail/Hole17_Video_MattKuchar1.png"></video-image-panel>
        引っかかって左奥へ。ここからのアプローチは尾根を越えるので難しい。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11682" end="11706" image-url="/Image/Thumbnail/Hole17_Video_Tiger1.png"></video-image-panel>
        右手前は厳禁だ。傾斜でグリーンの外に出てしまう。
        <br /><br />

        Charl Schwartzelのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="14767" end="14788" image-url="/Image/Thumbnail/Hole17_Video_CharlSchwartzel1.png"></video-image-panel>
        ラフからなのでランが出る。バンカーのすぐ先に落として転がしてバーディーチャンス。
        <br /><br />

        Phil Mickelsonのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="15630" end="15645" image-url="/Image/Thumbnail/Hole17_Video_PhilMickelson1.png"></video-image-panel>
        フェアウェイからだとスピンが効いて止まってしまう。ピンが奥の場合はなかなか奥まで打っていくのは難しいだろう。
        <br /><br />

        Stuart Applebyのセカンドショット。
        <video-image-panel video-id="PWqlyrezJEc" start="13001" end="13021" image-url="/Image/Thumbnail/Hole17_Video_StuartAppleby1.png"></video-image-panel>
        木の枝を避けるため低いドローで打ち出していく。しかしグリーンが速く奥にこぼれてしまう。
        ツークッションしていればグリーンで止まっていたかもしれない。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        Louis Woosthuizenのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="15160" end="15172" image-url="/Image/Thumbnail/Hole17_Video_LouisWoosthuizen1.png"></video-image-panel>
        素晴らしい距離感。
        <br /><br />

        Danny Willettのアプローチショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="14060" end="14075" image-url="/Image/Thumbnail/Hole17_Video_DannyWillett1.png"></video-image-panel>
        素晴らしいアプローチ。
        <br /><br />

        Tigerのアプローチショット。
        <video-image-panel video-id="HGzvqU-T85I" start="14615" end="14630" image-url="/Image/Thumbnail/Hole17_Video_Tiger3.png"></video-image-panel>
        傾斜のすぐ上の切ってあるので非常に難しい。狙いすぎるとこのように手前へ戻ってしまう。
        <br /><br />

        Tigerの次のアプローチショット。
        <video-image-panel video-id="HGzvqU-T85I" start="14683" end="14698" image-url="/Image/Thumbnail/Hole17_Video_Tiger4.png"></video-image-panel>
        無難に寄せてボギー。
        <br /><br />

        Tigerのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11921" end="11931" image-url="/Image/Thumbnail/Hole17_Video_Tiger2.png"></video-image-panel>
        右手前からのアプローチは難しくはないが簡単でもない。
        <br /><br />

        Brandt Snedekerの右サイドからのアプローチショット。
        <video-image-panel video-id="8ZCCX-_dg_A" start="15398" end="15412" image-url="/Image/Thumbnail/Hole17_Video_BrandtSnedeker1.png"></video-image-panel>
        エッジからピンまでグリーンを広く使えるなら寄せることは難しくはない。
        <br /><br />

        Adam Scottのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="14346" end="14359" image-url="/Image/Thumbnail/Hole17_Video_AdamScott1.png"></video-image-panel>
        手前の尾根があるので距離感を合わせるのは難しい。
        <br /><br />

        Jason Dayのアプローチショット。
        <video-image-panel video-id="08HvndZs09I" start="14621" end="14632" image-url="/Image/Thumbnail/Hole17_Video_JasonDay1.png"></video-image-panel>
        これも手前の尾根があるので距離感を合わせるのは難しい。
        <br /><br />

        Justin Roseの左のバンカー越えのアプローチショット。
        <video-image-panel video-id="PWqlyrezJEc" start="12708" end="12735" image-url="/Image/Thumbnail/Hole17_Video_JustinRose1.png"></video-image-panel>
        グリーンが硬く止まらない。右手前のラフへボールが出ていってしまう。結局ダブルボギーに。
        <br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green17.png" />
        </div>

        Jason Dayのグリーン中央から右奥のピンへのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="14482" end="14490" image-url="/Image/Thumbnail/Hole17_Video_JasonDay2.png"></video-image-panel>
        上りなので狙いやすい。ナイスバーディ―。
        <br /><br />

        Adam Scottのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="14589" end="14602" image-url="/Image/Thumbnail/Hole17_Video_AdamScott2.png"></video-image-panel>
        これも手前から上りのパットでナイスバーディー。
        <br /><br />

        Charl Schwartzelのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="15017" end="15030" image-url="/Image/Thumbnail/Hole17_Video_CharlSchwartzel2.png"></video-image-panel>
        ナイスバーディ―。
        <br /><br />

        Luke Donaldのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="13415" end="13428" image-url="/Image/Thumbnail/Hole17_Video_LukeDonald1.png"></video-image-panel>
        セカンドショットで右奥のピンまでの距離を打っていってで左に行くと最悪だ。尾根越えの難しいパットが残ってしまう。
        <br /><br />

        Tigerのパット。
        <video-image-panel video-id="8ZCCX-_dg_A" start="13692" end="13708" image-url="/Image/Thumbnail/Hole17_Video_Tiger5.png"></video-image-panel>
        尾根越えの難しいパット。寄せるので一杯だ。
        <br /><br />

    </div>
</div>
