<div>
    <div class="section-title">Hole12</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole12.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green12.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>155y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Golden Bell</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W30y×D26y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">

                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        12番はグリーンの縦幅が12y前後しかない。
        <video-image-panel video-id="vegqUyO_YWk" start="11215" end="11225" image-url="/Image/Thumbnail/Hole12_Video_LandScape1.png"></video-image-panel>
        見ての通りグリーンが線にしか見えない。グリーンの後ろは13番のティーボックスがある。
        11番、13番から抜けてくる風が上空で舞っており風の強い日は距離感が非常に難しい。
        風が吹いていなくてもボールが5yほど跳ねることを考えると落とし所はわずか5y-10yしかない。
        とてもタフなパー3となる。
        <br /><br />

        ピン位置は3つ。左手前、真ん中、右奥である。
        <br /><br />

        左手前は一番簡単。距離も短いので狙っていけるがショートだけは気をつけたい。
        池を避けるため選手はみな少し奥をねらって打っていくことになる。結果として下りのパットが残ることになる。
        バーディーを取るには下りのパットを入れる必要があり、簡単なパットは残らない。
        <br /><br />

        真ん中の場合は手前のバンカーは入っても寄せるのはそんなに難しくもない。
        手前のラフで池というリスクがないのでピンを狙っていける。
        <br /><br />

        右奥は最も難しい。ボールにスライスがかかってピンの右サイドにいくと池へいってしまう。
        右奥のピンを狙う選手はほぼいない。
        グリーン中央のバンカーのラインに打っていってグリーンに乗ればOKという感じで打っていく。
        グリーンに乗れば10y前後の少しスライスするラインのバーディーパットを狙っていく感じだ。
        <br /><br />

        Tigerのティーショット。
        <video-image-panel video-id="vegqUyO_YWk" start="7854" end="7870" image-url="/Image/Thumbnail/Hole12_Video_Tiger1.png"></video-image-panel>
        セオリー通り、グリーン中央へ。
        <br /><br />

        K.J.Choiのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="10850" end="10870" image-url="/Image/Thumbnail/Hole12_Video_KJChoi1.png"></video-image-panel>
        これもセオリー通り、グリーン中央へ。
        <br /><br />

        Phil Mickelsonのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="11380" end="11399" image-url="/Image/Thumbnail/Hole12_Video_Phil1.png"></video-image-panel>
        12番は左利きだと打ちやすい。右利きで右にスライスすると距離が出ないので池にいってしまう。
        しかし左利きで右に引っかけた場合はドローになり距離が出るので池にはいかない。
        スライスしてもちょうどグリーンに落ちることになるので非常に打ちやすい。
        右利きの選手と比べるとだいぶプレッシャーが少なくなる。
        <br /><br />

        Jordan Spiethのティーショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10876" end="10899" image-url="/Image/Thumbnail/Hole12_Video_JordanSpieth1.png"></video-image-panel>
        ピンのラインにいくと少しでもショートすると池にいってしまう。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Fred Couplesのティーショットが右手前にショート。
        <video-image-panel video-id="546S_E5v43g" start="5450" end="5474" image-url="/Image/Thumbnail/Hole12_Video_FredCouples1.png"></video-image-panel>
        普通なら絶対に池だが奇跡的に止まってくれた。ここをパーで切り抜けられたおかげでFred Couplesは優勝することができた。
        <br /><br />

        Tigerの奥のバンカーからのショット。
        <video-image-panel video-id="4sV4la-XBYk" start="11026" end="11042" image-url="/Image/Thumbnail/Hole12_Video_Tiger2.png"></video-image-panel>
        ダウンスロープへのショットになるので止まらない。打ちすぎると池なので非常に難しい。
        <br /><br />

        K.J.Choiのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="10800" end="10812" image-url="/Image/Thumbnail/Hole12_Video_KJChoi3.png"></video-image-panel>
        ダウンスロープに向かってのアプローチなので難しい。結局ボギー。
        <br /><br />

        Angel Cabreraの奥のバンカーからのショット。
        <video-image-panel video-id="vegqUyO_YWk" start="11440" end="11452" image-url="/Image/Thumbnail/Hole12_Video_AngelCabrera2.png"></video-image-panel>
        あと3y長かったら池へいっていたはず。この後のパットは入らずで結局ボギー。
        <br /><br />

        Rocco Mediateの池に落とした後のショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="9073" end="9088" image-url="/Image/Thumbnail/Hole12_Video_RoccoMediate1.png"></video-image-panel>
        また池にいれてしまった。12番で池に入ると一気に気持ちが無くなってしまう。
        それを避けるためにもグリーンセンターを狙って無難に切り抜けることが大事だ。
        <br /><br />

        Luke Donaldの池に落とした後のショット。
        <video-image-panel video-id="vegqUyO_YWk" start="9757" end="9772" image-url="/Image/Thumbnail/Hole12_Video_LukeDonald1.png"></video-image-panel>
        フルスウィングできるよう100yまで下がったところにドロップして3打目。
        13番のフェアウェイのど真ん中から打っている。
        池に落とした後に60yのスウィングを調整するのは緩んだりするので難しい。クレバーな選択と言える。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green12.png" />
        </div>

        Phil Mickelsonのバーディーパット。
        <video-image-panel video-id="4sV4la-XBYk" start="11666" end="11680" image-url="/Image/Thumbnail/Hole12_Video_Phil2.png"></video-image-panel>
        ナイスバーディ。
        <br /><br />

        K.J.Choiのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="11125" end="11137" image-url="/Image/Thumbnail/Hole12_Video_KJChoi2.png"></video-image-panel>
        このホールはバーディーを狙っていくことは難しい。無難にパーで切り抜けられればまあOKだ。
        <br /><br />

    </div>
</div>
