<div>
    <div class="section-title">Hole2</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole7.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green7_0.png" />
                <table>
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>450y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Pampas</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section-title">概要</div>
    <div class="description-panel">
        ストレートな450yのパー4。ティーショットの落としどころは左右から林がせり出していて狭い。
        セカンドショットはかなりの打ち上げとなる。グリーンは手前は全てバンカーでガードされている。
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole7_SkyView1.png" />
            </div>
            <div class="text-panel">
                左右からせり出した林の枝が上空にあるのでかなり狭い。落としどころのフェアウェイの幅は約30y。
                フェアウェイが右に傾斜しているのでフェアウェイセンターにバウンドしたボールが右ラフまで転がっていく。
                つまり実際に狙っていけるフェアウェイは半分しかないことになる。
                林に入ってしまった場合、上が枝があり高い球を打てない場合はグリーンに乗せるのはほぼ不可能。
                上が空いてないなら低い球で狙っていくしかないが、グリーンが打ち上げていてボールが転がらないし手前が全てガードバンカーがあるため狙えない。
                なのでティーショットにはプレッシャーがかかる。曲げるとなんとかパーをセーブしにいこうという戦いになる。
            </div>
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole7_TeeShot_0.png" />
            </div>
            <div class="text-panel">
                ピンが右の時はフェアウェイ左サイド、ピンが左の時はフェアウェイ右サイドがベター。
                理想的なのは少しドローでフェアウェイ左サイドを狙っていく。
                ストレートボールを打つとフェアウェイの傾斜で右に転がり右のラフへいってしまう。
                ピンポジションが右サイドだと木の枝が邪魔をして狙えなくなってしまう。<br /><br />

                3Wで250y地点を狙っていくと少し広くなる。ドライバーが荒れてる場合は手前も選択肢としてはありだ。
            </div>
        </div>
    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        ピンが奥の場合は少しでも右に曲げると下の段へいってしまう。

        Tiger Woodsのセカンドショット。雨で湿った重いラフで距離が足りず下の段へ。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/LeOI3L3Af3o?start=449&end=468&rel=0"></iframe>
        </div>
        フライヤーで奥にいくのが絶対に避けたい。これ以上はなかなか打てない。

        Roly Mcllroyはフェアウェイから完璧なスピンコントロール。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/LeOI3L3Af3o?start=449&end=468&rel=0"></iframe>
        </div>


        ピンポジションが右手前の場合はピンの左奥へ落として傾斜とバックスピンで戻すという狙い方がセオリーだ。<br />

        Fred Couplesの理想的なショット。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/nnxCQQvLgXw?start=6710&end=6730&rel=0"></iframe>
        </div>

        しかしティーショットがセカンドカットまでいってしまうと途端に狙うのが難しくなってしまう。
        木の枝が邪魔をして曲げないと狙えず、ラフがボールとクラブの間に挟まってスピンも効かない。<br />

        Tiger Woodsの左ラフからのショット。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/nnxCQQvLgXw?start=5603&end=5622&rel=0"></iframe>
        </div>


        Phil Mickelsonの林からのスーパーショット。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/2ivVPNDc8ts?start=3516&end=3544&rel=0"></iframe>
        </div>

        林に入れた場合は手前のバンカーでもオーケーだ。右手前のピンポジションならバンカーショットでピンに寄せるのはそんなに難しくない。
        普通のショットを打てればパーセーブができる。

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Tigerの右奥からのアプローチ。
        <div class="video-panel">
            <iframe type="text/html" frameborder="0"
                    src="//www.youtube.com/embed/nnxCQQvLgXw?start=5952&end=5972&rel=0"></iframe>
        </div>
    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">

    </div>
</div>
