<div>
    <div class="section-title">Hole11</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole11.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green11.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>505y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>White Dogwood</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W20y×D35y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-stats-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                7
                            </td>
                            <td class="holestats-data">
                                46
                            </td>
                            <td class="holestats-data">
                                30
                            </td>
                            <td class="holestats-data">
                                4
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.356
                            </td>

                            <td class="holestats-data">
                                3
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                45
                            </td>
                            <td class="holestats-data">
                                27
                            </td>
                            <td class="holestats-data">
                                11
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                4.563
                            </td>

                            <td class="holestats-data">
                                1
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                41
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.283
                            </td>

                            <td class="holestats-data">
                                2
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                32
                            </td>
                            <td class="holestats-data">
                                16
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.321
                            </td>

                            <td class="holestats-data">
                                1
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 4.30</span>
                                <span class="holestats-history-data">Historical Rank: 2</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    右ドッグレッグの505yのパー4。Augustaで最も長いパー4となり難易度も10番と並び1,2を争う難しさである。
                    まず300y前後飛ばさないと200y以上のセカンドが残ってしまう。
                    しかしフェアウェイは25y-28yという狭さ。さらにフェアウェイは左に傾斜していて真ん中に落ちたショットが左へ流れてしまう。
                    できればフェアウェイ右サイドに置きたいところだ。距離も精度も要求される。

                    グリーンの左手前には池があり200y前後のセカンドショットになる。
                    右サイドや奥からは非常に早く難しいアプローチが残る。
                    右奥のバンカーもダウンスロープのグリーンへの難しいバンカーショットになる。

                    グリーンは池に向かって全体的に左に傾斜していて非常に早く簡単なパットが残ることはまずないだろう。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole11_TeeShot.png" />
            </div>
            <div class="text-panel">
                ティーショットはできれば右サイドのフェアウェイに置きたいところだ。
                左サイドにいくとセカンドショットで池がラインにかかってきてプレッシャーがかかる。
                しかしフェアウェイがかなり左に傾斜しているので真ん中に打つと左サイドにいってしまう。
                左右の林にいれてしまうとトラブル必至。難しい状況になる。
                観る側にとってはスーパーショットを見れるチャンスでもある。
            </div>
        </div>

        Bubba Watsonのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="10165" end="10180" image-url="/Image/Thumbnail/Hole11_Video_BubbaWatson1.png"></video-image-panel>
        素晴らしい理想的なティーショット。
        <br /><br />

        Tigerのティーショット。フェアウェイが左に傾斜しているのがわかる。
        <video-image-panel video-id="vegqUyO_YWk" start="7109" end="7128" image-url="/Image/Thumbnail/Hole11_Video_Tiger1.png"></video-image-panel>
        完璧である。右サイドに落ちてフェアウェイ中央まで転がってきているのがわかるだろうか。
        <br /><br />

        Rickie Fowlerのティーショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10072" end="10091" image-url="/Image/Thumbnail/Hole11_Video_RickieFowler1.png"></video-image-panel>
        右の林へ。松の葉で転がっていく。木の後ろでないことを祈るしかない。
        <br /><br />

        Phil Mickelsonのティーショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="10119" end="10137" image-url="/Image/Thumbnail/Hole11_Video_Phil1.png"></video-image-panel>
        左のラフへ。距離が残りさらに池がラインにかかる少し気を使うセカンドショットとなる。
        <br /><br />

        Sergio Garciaのティーショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11040" end="11060" image-url="/Image/Thumbnail/Hole11_Video_SergioGarcia1.png"></video-image-panel>
        左の林の中へ。木の裏にいってしまった。ここからは手前の花道に出して寄せてパー狙いという感じになってしまう。
        <br /><br />

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green11.png" />
            </div>
            <div class="text-panel">

            </div>
        </div>

        Tigerのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="7343" end="7360" image-url="/Image/Thumbnail/Hole11_Video_Tiger3.png"></video-image-panel>
        池よりも右のライン、後ろの3本の松の木に向かって打っていくのがセオリーだ。
        池を超えるラインで打っていくプロは一人もいない。
        <br /><br />

        Justin Roseのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11473" end="11490" image-url="/Image/Thumbnail/Hole11_Video_JustinRose1.png"></video-image-panel>
        池にかからないラインでピンの右サイドへ。
        <br /><br />

        Phil Mickelsonの左サイドのフェアウェイからのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="10358" end="10373" image-url="/Image/Thumbnail/Hole11_Video_Phil2.png"></video-image-panel>
        左サイドは池が気になるラインになり少し気を使うショットとなる。
        <br /><br />

        Fred Couplesの右サイドのフェアウェイからのセカンドショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="10457" end="10472" image-url="/Image/Thumbnail/Hole11_Video_FredCouples1.png"></video-image-panel>
        右サイドからの方が池が気にならないため狙いやすい。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="fugevHpHSH8" start="476" end="519" image-url="/Image/Thumbnail/Hole11_Video_Tiger2.png"></video-image-panel>
        右の木の枝を避けるため低いフェードで転がして見事にグリーンオン。しかし上からのパットは難しいラインで入らず。
        触れただけで1mオーバーまで転がっていく。結局パー。11番は非常に難しいのでパーであれば十分だ。
        <br /><br />

        Padraig Halintonのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="9534" end="9555" image-url="/Image/Thumbnail/Hole11_Video_PadraigHalinton1.png"></video-image-panel>
        ひっかけてやってしまった、と思いきやぎりぎりセーフでバーディチャンス。
        ピンの左サイドは上りのパットで狙えるラインである。思わず苦笑い。
        <br /><br />

        Rickie Fowlerのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10161" end="10177" image-url="/Image/Thumbnail/Hole11_Video_RickieFowler2.png"></video-image-panel>
        奥にこぼれてしまった。奥からは非常に速いダウンスロープへの難しいアプローチが残る。
        <br /><br />

        Sergio Garciaの左の林の木の裏からのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="11419" end="11435" image-url="/Image/Thumbnail/Hole11_Video_SergioGarcia2.png"></video-image-panel>
        ドローをかけて右手前のマウントから花道までもってきた。さすがのショット。寄せればまだパーのチャンスはある。
        <br /><br />

        Phil Mickelsonのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="10916" end="10932" image-url="/Image/Thumbnail/Hole11_Video_Phil3.png"></video-image-panel>
        低めのドローで花道狙い。グリーンに乗ってバーディーチャンス。上りのパットなので狙いやすい。
        <br /><br />

        Tigerの右の林からのセカンドショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="10101" end="10120" image-url="/Image/Thumbnail/Hole11_Video_Tiger4.png"></video-image-panel>
        低いドローで木の間を抜けグリーンを狙っていく。弾道が美しい。
        <br /><br />

        Tigerの右の林からのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="10357" end="10370" image-url="/Image/Thumbnail/Hole11_Video_Tiger5.png"></video-image-panel>
        木に当たってしまった。
        <br /><br />

        Tigerの木に当てた後のサードショット。
        <video-image-panel video-id="4sV4la-XBYk" start="10480" end="10501" image-url="/Image/Thumbnail/Hole11_Video_Tiger6.png"></video-image-panel>
        木の上を抜けてピンそばにつけるナイスショット。この後のパットは一番最後にある。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Rocco Mediateの奥からのアプローチ。
        <video-image-panel video-id="nnxCQQvLgXw" start="8510" end="8525" image-url="/Image/Thumbnail/Hole11_Video_RoccoMediate1.png"></video-image-panel>
        グリーンエッジまでは上り、グリーンは非常に速いダウンスロープ。
        スピンが効きすぎて止まってしまった。結局この後のパットも入らずボギー。
        <br /><br />

        Roly Macllroyの奥からのアプローチ。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10425" end="10435" image-url="/Image/Thumbnail/Hole11_Video_RickieFowler3.png"></video-image-panel>
        奥からは非常に速い。結局この後のパットも入らずボギー。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green11.png" />
        </div>

        Tigerのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="7616" end="7632" image-url="/Image/Thumbnail/Hole11_Video_Tiger8.png"></video-image-panel>
        池にかからないラインで打っていくとこんな感じのパターが残る。
        バーディーを取るにはこの距離を入れなければならず非常に難しい。
        <br /><br />

        Phil Mickelsonの上りのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="11063" end="11075" image-url="/Image/Thumbnail/Hole11_Video_Phil4.png"></video-image-panel>
        唯一狙って打っていけるライン。しかしオーバーして下りを残したくないので多くの選手がショートする。
        <br /><br />

        Bubba Watsonの下りのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="10893" end="10908" image-url="/Image/Thumbnail/Hole11_Video_BubbaWatson2.png"></video-image-panel>
        素晴らしいタッチである。
        <br /><br />

        Tigerの下りのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="10785" end="10800" image-url="/Image/Thumbnail/Hole11_Video_Tiger7.png"></video-image-panel>
        下りは池に向かって非常に速い。なかなか入れることは難しいだろう。
        <br /><br />



    </div>
</div>
