<div>
    <div class="section-title">Hole2</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole2.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green2.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>575y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Pink Dogwood</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    マスターズのパー5は全てチャンスホール。ちなみにAugustaのホールを簡単な順に並べると上位4つは全てパー5である。
                    左ドックレックでセカンドショットはかなりの打ち下ろしとなる。
                    ティーグラウンドからグリーンまで約27mの高低差がある。およそ10階建ての10階の床の高さに相当する。
                    左の林はトラブル必至。右のバンカーは1mくらいの深さがあり、入れるとツーオンは不可能になる。
                </div>
            </div>
        </div>
    </div>


    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole2_SkyView1.png" />
            </div>
            <div class="text-panel">
                パー5でできればバーディーを取りたいホール。ツーオンできればバーディーの可能性が高まるのでティーショットをいいところに置きたいところ。
            </div>
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole2_TeeShot_1.png" />
            </div>
            <div class="text-panel">
                300y弱飛ぶ選手は右のバンカーの左サイドが狙いどころ。キャリーで310y以上飛ばせる選手は風向き次第では右のバンカーを超えていける。
                赤線より先にキャリーすればバンカーの先はダウンヒルになっており、30y以上ランが出ることもあり絶好のチャンスになる。
                ストレートボールだと右のラフまで行ってしまうので、できればバンカーから少しドローで狙いたいところ。
            </div>
        </div>
        <div class="sky-view-image-panel">
            <img src="~/Image/Hole2_SkyView2.png" />
            <img src="~/Image/Hole2_SkyView3.png" />
        </div>
        バンカー横まで運ばないと左の林が邪魔をしてグリーンが見えない。

        <div style="clear:both;margin-bottom:40px;"></div>

        Dustin JohnsonやRory McIlroyなどの飛ばし屋のビッグドライブには要注目だ。<br /><br />

        2015年の最終日、Rory Mcllroyは355yくらい飛ばしている。
        <video-image-panel video-id="5bBcS5fc5FY" start="2715" end="2730" image-url="/Image/Hole2_Video_RolyMcllroy1.png"></video-image-panel>
        少しドローをかけたかったがかからず右のラフまで行ってしまった。<br /><br />

        2010年の最終日、Phil Mickelsonもマン振りで376yのビッグドライブ。打球音が凄い。フェアウェイのど真ん中へ。
        <video-image-panel video-id="4sV4la-XBYk" start="3303" end="3320" image-url="/Image/Hole2_Video_Phil1.png"></video-image-panel>
        <br />

        右のバンカーに入れてしまうとこのバンカーは深さが腰の高さくらいまであり、ツーオンができなくなるので入れたくはない。
        <video-image-panel video-id="_tMQYqSULUY" start="3557" end="3565" image-url="/Image/Hole2_Video_Bubba1.png"></video-image-panel>
        ただ仮にバンカーに入れてもセカンドで刻んで残り100y-150y。サードショットでピンに寄せればバーディーが取れるのでさほどプレッシャーはない。

        左の林はpine straw（松わら）のライだったり、木の根元についたり、前に打ち出せなかったりでリスクが高い。
        どちらかと言えば右に曲げるのは大丈夫といった気持でみんなティーショットを打っているはずだ。
    </div>

    <div class="section-title">セカンドショット（ツーオン狙い）</div>
    <div class="description-panel">
        セカンドショットはシチュエーションによってそれぞれ狙いが変わってくる。

        左の林に入れた場合は出すだけ。左ドッグレッグなのでグリーンはまず狙えない。
        バンカーに入れた場合はサードショットでピンを狙いやすい位置に刻むことになる。
        ティーショットでフェアウェイにボールを置ければツーオンが狙える。
        右手前、右奥の場合はピンに向かったツーオン狙い。できればイーグルチャンスにつけたい。
        左奥の場合はピンを狙うのは難しいのでとりあえずのツーオンかレイアップも選択肢としてはありだろう。<br /><br />

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green2_LandingArea0.png" />
            </div>
            <div class="text-panel">
                最終日の右奥のピン位置は割と簡単なピン位置で、花道に打っていけばピンに寄って行く。
                エッジから5yくらいのところに落とせれば完璧だ。ボールは右奥のピンに向かって転がりイーグルチャンスにつく。
                奥に行くと非常に速いダウンスロープに向かってのアプローチとなりバーディーチャンスにつけるのは難しい。
                まだ手前の方がバーディーチャンスにつきやすいだろう。
            </div>
        </div><br />

        2012年の最終日、Louis Oosthuizenのアルバトロス
        <video-image-panel video-id="qFYo6iOL7M4" start="3217" end="3316" image-url="/Image/Hole2_Video_Louis_Oosthuizen1.png"></video-image-panel>
        Augustaには4つのパー5があるがアルバトロス（2打で入れる）は2番ホール以外ではそれぞれの1回ずつあった。
        このショットは2番ホールでの最初のアルバトロスとなった。<br /><br />

        花道の左側に行くと右に流れてこない。
        <video-image-panel video-id="nnxCQQvLgXw" start="2760" end="2775" image-url="/Image/Hole2_Video_Phil2.png"></video-image-panel>

        球が低く出すぎると奥まで行ってしまう。
        <video-image-panel video-id="nnxCQQvLgXw" start="2798" end="2813" image-url="/Image/Hole2_Video_Couples1.png"></video-image-panel>
        <br /><br />


        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green2_LandingArea1.png" />
            </div>
            <div class="text-panel">
                左奥のピンは狙いどころが狭く難しい。200y以上先から10yもない領域に落とさないとバーディーチャンスにはつかない。
                仮にこの辺に落とせてもボールは流れて行ってしまうのでそこそこ距離のあるバーディパットとなる。
            </div>
        </div>

        Rickie Fowlerの左奥のピンへの素晴らしいセカンドショット。
        <video-image-panel video-id="1YBuX9wukbA" start="3" end="22" image-url="/Image/Hole2_Video_RickieFowler1.png"></video-image-panel>
        狭い落としどころへの正確なショット。それでもピンから少し離れていってしまう。
        <br /><br />

        Tommy Fleetwoodのセカンドショット。
        <video-image-panel video-id="oSVc_ZZ8130" start="5" end="32" image-url="/Image/Hole2_Video_Fleetwood1.png"></video-image-panel>
        左奥のピンの場合はこんな感じでとりあえず乗せてツーパットでバーディという狙い方も多いだろう。
        上りのパットになるのでしっかり打てればそんなに難しくはないはずだ。

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        ピン位置によって狙いやすい場所がだいぶ変わってくる。
        <div class="image-panel">
            <img src="~/Image/Green2.png" />
        </div>

        左奥の時はツーオン狙いは難しい。250yの距離からバンカーから5yくらいしかない場所に切ってあるピンを狙うことになる。
        セカンドショットはダウンヒルのライでボールが低く出やすく、そこから高い球を打ってボールを止めるのは至難の業。
        しかも左手前のバンカーに入れると寄せるのが難しい。<br /><br />

        以上からレイアップをする選手が多い。左奥の場合は3打目の置き所が非常に重要になってくる。
        <div class="image-panel">
            <img src="~/Image/Hole2_ApproachShot_0.png" />
        </div>
        赤線よりも手前の赤い丸のエリアだとアプローチショットがバンカー越えになり非常に難しいショットになる。
        左手前のバンカーに入れるとほぼ終了。5m以内に寄ることは稀だ。3打目で入れた瞬間、ボギーの可能性が出てくる。<br />
        赤線より奥側の水色のエリアだとバンカーがかからないラインになり、受けているグリーンに向かっていいアプローチショットを打てればバーディチャンスにつく。
        きっと練習ラウンドで各選手ここからのラインをめちゃくちゃ練習しているはずだ。<br /><br />

        最近では最終日はほぼ右奥。


        奥からはボールが全く止まらないほど早い。ただ右奥のピンの場合はピンの近くで止まるセッティングになっている。
        奥に行っても寄せるチャンスはある。
        <video-image-panel video-id="_tMQYqSULUY" start="3879" end="3897" image-url="/Image/Hole2_Video_Bubba2.png"></video-image-panel>

        右手前のピンは簡単だ。ピンを直接狙うか奥のスロープから戻すか。
        <video-image-panel video-id="4sV4la-XBYk" start="3810" end="3835" image-url="/Image/Hole2_Video_Phil3.png"></video-image-panel>
        もうちょっと奥まで飛ばせばより加速がついてピンまで戻ってきたはず。<br /><br />

        奥からのアプローチは難しい。とても速い。
        <video-image-panel video-id="nnxCQQvLgXw" start="2994" end="3010" image-url="/Image/Hole2_Video_Phil4.png"></video-image-panel>
        お分かりだろうか？グリーンエッジにボールを置くくらいでもグリーンからこぼれ出てしまうくらい速い。
        このショットの場合はツーバウンド目がグリーンだったのでオーバーしてしまった。
        もしツーバウンド目があと10㎝短くラフにバウンドしていれば寄っていたと思われる。
        トッププロのアプローチはツーバウンド目を10cm単位で狙っているということだ。

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green2.png" />
        </div>


        右奥のピンのピンハイにつけてもバーディーを取るのは簡単ではない。曲がるパッティングラインを読み切らないと入らない。
        <video-image-panel video-id="_tMQYqSULUY" start="3926" end="3940" image-url="/Image/Hole2_Video_JordanSpieth1.png"></video-image-panel>

        完璧に打っても虫に邪魔されることもある。
        <video-image-panel video-id="4sV4la-XBYk" start="3971" end="4018" image-url="/Image/Hole2_Video_Phil5.png"></video-image-panel>
        スーパースローで見ると信じられないタイミングで完璧な場所に落ちてきている（笑）
        こんなことがあったものの、この年Philは優勝している。さすがの一言。

    </div>
</div>
