<div>
    <div class="section-title">Hole3</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole3.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green3.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>350y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Flowering Peach</td>
                        </tr>
                    </tbody>
                </table>

                <div class="description-panel">
                    Augustaの各ホールはゴルフクラブの進化や選手の進化と共に距離を伸ばしたりフェアウェイを移動したりしている。
                    しかしこのホールは唯一の出来た当初のオリジナルのままのホールとなる。
                    最初から十分に戦略性が高いホールとして仕上がっていることの証拠でもある。
                    とはいっても距離も短くオーガスタでは最も簡単なパー4。バーディーが狙えるホールとなる。
                    特にピン位置が奥の場合はかなりチャンスとなる。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole3_SkyView1.png" />
            </div>
            <div class="text-panel">
                ティーショットはほぼノープレッシャー。左のバンカーだけは気をつけたいところ。
                攻め方は2つ。ドライバーで左のバンカーを超えてグリーン近くまで打つか、バンカー手前に刻んで残り100-130yから狙うか。
            </div>
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole3_TeeShot_1.png" />
            </div>
            <div class="text-panel">
                左のバンカーは280yで超えるので飛ばし屋にとってはプレッシャーはそんなに無い。
                グリーン近くは左に傾斜していてドライバーで打っていった場合は吸い込まれるように左手前のくぼ地へ転がっていく。
                各選手ここからのアプローチを練習ラウンドでたくさん練習しているはず。<br /><br />

                刻む場合は約200-220yくらいを打つ。4Iくらいだろうか。左の一番手前のバンカーまで約220y。
                バンカーを通過するあたりにマウントがある。あまり手前すぎるとブラインドでピンが見えづらくなる。
                距離感が要求されるホールだけにできればピンが見える状態で打ちたいところ。
            </div>
        </div>

        <div style="clear:both;margin-bottom:40px;"></div>

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green3.png" />
            </div>
            <div class="text-panel">
                ピンポジションによって狙い方が変わってくる。
                右奥が一番簡単。3回に1回はバーディーが取れる。
                左手前はいいセカンドショットが打てればバーディーのチャンスが出てくる。
                右手前はバーディーチャンスにつけるのはかなり難しい。
            </div>
        </div>

        このホールのグリーンの手前は傾斜が凄く少しでも手前に落ちると戻ってしまう。
        <div class="image-panel">
            <img src="~/Image/Hole3_Green_FrontSlope.png" />
        </div>
        グリーン手前の傾斜が凄いのがわかるだろうか。5m以上の砲台グリーンになる。
        ピンが左の場合は特に正確な距離が要求される。ピンの前後5yしか落としどころが無い。
        手前にショートすると50yくらい戻ってしまう。奥も傾斜があるのでキャリーで奥に行くと10y-20y奥までキックしてしまう。<br /><br />

        Peter Hansonのショット
        <video-image-panel video-id="qFYo6iOL7M4" start="4466" end="4489" image-url="/Image/Hole3_Video_PeterHanson1.png"></video-image-panel>
        5y足りず50y戻ってしまう。<br /><br />

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole3_ApproachShot_0.png" />
            </div>
            <div class="text-panel">
                最終日に多い左のピンの場合は距離感が重要だ。

                グリーンが左に傾斜しているのでできればフェアウェイ右サイドから狙っていきたい。
                そうすればバウンド後に傾斜でピンに寄っていくことになる。
                また右サイドからの方が少しだけ落としどころが長く使えるのも大きい。5y程長くなるはずだ。
                グリーンは左に行くほど細長くなっているのでピンの右5yから10yくらいのところを狙っていく。
                右サイドから少しドローをかけて狙っていけると理想的だ。<br /><br />

                残り距離は100y-130yくらいが狙いやすい。
                100y-110yであればワンバウンドで5y前後跳ねてバックスピンで5y戻って左へ流れていく感じ。
                残りが120y-130yくらいだと5y跳ねてその場で止まる感じになる。
                いずれにしてもワンバウンド目が5y跳ねるということとグリーンの左サイドは縦の距離が15yしかないことを踏まえると狙えるのは前後10yということになる。
            </div>
        </div>

        Charl Schwartzelの完璧なショット。ピンの10yほど右サイドにドローで着弾し、バックスピンで5yほど戻ってそのままカップへ吸い込まれていく。
        <video-image-panel video-id="vegqUyO_YWk" start="3867" end="3890" image-url="/Image/Hole3_Video_Charl_Schwartzel1.png"></video-image-panel>
        <br />

        Roly McIlroyのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="4226" end="4251" image-url="/Image/Hole3_Video_Roly_McIlroy1.png"></video-image-panel>
        <br />

        タイガーのセカンドショット。5y大きかったので奥へ。
        <video-image-panel video-id="4sV4la-XBYk" start="4274" end="4282" image-url="/Image/Hole3_Video_Tiger1.png"></video-image-panel>
        ティーショットで飛ばしてグリーンに近づくとハーフショットになり逆に難しい。Tigerでもミスすることがある。
        トッププロにとってはフルスウィングできる100y-130yのほうが距離を合わせやすいだろう。
        いずれにせよ5yずれると難しいパーセーブが待っている。風が強い日などは非常に距離感が難しくなる。<br /><br />

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole3_ApproachShot_1.png" />
            </div>
            <div class="text-panel">
                ピンが右奥の時は一番簡単なピンポジションになる。
                白い線のラインで狙っていくことになる。ランを使って低いランニングアプローチで寄せていける。<br /><br />
                右手前の場合は左サイドへもっていくと少しだけ狙いやすい角度になる。
                青のラインからの方が易しい。赤のラインは少し難しくなってしまう。
                手前はまた戻ってきてしまうし奥も短い。基本的にはピンの左サイドを狙うのがミスしたときのダメージが少ない。
                手前は戻ってしまうので絶対に避けたいと思いながら打つことになる。
                結果として左奥からのバーディーパットになることが多い。このラインはめちゃくちゃ曲がるのでなかなか入れるのは難しい。
            </div>
        </div>

        Tigerの低いランニングアプローチ
        <video-image-panel video-id="nnxCQQvLgXw" start="2535" end="2553" image-url="/Image/Hole3_Video_Tiger2.png"></video-image-panel>

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        左手前のピンへのアプローチ。距離は短くても前後5yしか外せないので非常にデリケートだ。<br /><br />

        Tigerの左手前からのロブショットでのアプローチ。
        <video-image-panel video-id="vegqUyO_YWk" start="4359" end="4370" image-url="/Image/Hole3_Video_Tiger3.png"></video-image-panel>
        1yしかないカラーに見事に落としてバーディーチャンス。
        <br />
        <br />

        右サイドからのアプローチは下り傾斜になるので難しい。<br />
        Bubba Watsonのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="3969" end="3985" image-url="/Image/Hole3_Video_BubbaWatson1.png"></video-image-panel>
        見ての通りこれだけ柔らかく打っても止まれず左サイドのカラーまでこぼれてしまう。<br /><br />

        奥からのCabreraのアプローチ。
        <video-image-panel video-id="vegqUyO_YWk" start="4398" end="4410" image-url="/Image/Hole3_Video_Cabrera1.png"></video-image-panel>
        打ちすぎて手前の傾斜まで打ってしまって50y転がり落ちることは絶対に避けたい。その気持ちが見えるようなショット。
        結局ショートしてしまう。<br /><br />


        セカンドショットで奥に外したK.J.Choiのアプローチショット
        <video-image-panel video-id="4sV4la-XBYk" start="4107" end="4143" image-url="/Image/Hole3_Video_KJChoi1.png"></video-image-panel>
        @*<div class="golf-video-panel" golf-video-panel="true" url="//www.youtube.com/embed/4sV4la-XBYk?start=4107&end=4143&rel=0&autoplay=1">
            <img src="~/Image/Hole3_Video_KJChoi1.png" />
        </div>*@
        あと5cm転がったら50y程手前へ転がってしまっていたはずだが運よくカラーで止まってナイスパー。<br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">


    </div>
</div>
