<div>
    <div class="section-title">Hole4</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole4.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green4.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>240y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Flowering Crab Apple</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W37y×D35y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-information-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                5
                            </td>
                            <td class="holestats-data">
                                51
                            </td>
                            <td class="holestats-data">
                                27
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                3.356
                            </td>

                            <td class="holestats-data">
                                2
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                43
                            </td>
                            <td class="holestats-data">
                                41
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.437
                            </td>

                            <td class="holestats-data">
                                2
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                37
                            </td>
                            <td class="holestats-data">
                                12
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.264
                            </td>

                            <td class="holestats-data">
                                3
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                8
                            </td>
                            <td class="holestats-data">
                                31
                            </td>
                            <td class="holestats-data">
                                14
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.113
                            </td>

                            <td class="holestats-data">
                                3
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 3.29</span> <span class="holestats-history-data">Historical Rank: 3</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    オーガスタで最も長いパー3。200y以上の距離があり手前のバンカーもありまずグリーンに乗せることが難しい。
                    またグリーンは2段になっている。グリーンに乗っても乗った場所によっては容易にスリーパットしてしまう。
                    パーで切り抜けられれば御の字だ。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <img src="~/Image/Green4_LandingArea.png" /><br />

        それぞれのピン位置への落としどころは青の半透明のところになる。
        <br /><br />

        左奥が簡単なピン位置（といっても200yオーバーなので難しいが…）。
        ドライバーが300y出る飛ばし屋はアイアンも高さが出るので落ちた後止まってくれる。
        真上から落としてボールを止める感じで狙っていける。
        距離が出ない選手は3Iや5Wなどになるので高さが出ず、グリーンに落ちた後にランが出てしまう。
        なので花道のラインで真ん中のグリーン面に落としてランで上の段に転がし上げる形で狙う。
        真ん中奥も左奥と同じような狙い方になる。
        <br /><br />

        真ん中手前は飛ばし屋は真上からピンを狙うか、後ろの傾斜に当てて戻すか。
        飛ばない選手はピンの横に落ちても上の段まで行ってしまう。
        フェードをかけてピンの左手前に落として傾斜で戻ってくる感じで狙えればバーディーチャンスにつけられるかもしれないが難しい。
        諦めて花道ラインから左のピンハイから10yくらいのバーディパット狙いというのもありだろう。
        <br /><br />

        右奥のピンにバーディチャンスにつけるにはアイアンの高さが必要。
        240y先の6y×6yくらいの狭いところに落とす技術が必要となる。
        飛ばない選手は真ん中奥のピンの位置くらいに止まればOK。2パットのパーで良しとする感じになる。
        <br /><br />

        左手前は最も難しいピン位置。12y×12yしかグリーンが無いような感じだ。
        右手前のバンカーからは傾斜があり絶対に寄らないので入れてはいけない。
        バーディーチャンスにつけることはほぼない。
        手前のFalse Frontの傾斜でワンホップして平らな面へという場合しかない。
        失敗するとラフまで戻ってしまうのでそういう狙い方をする選手はいない。
        ナイスショットを打ってピンの左奥について10y前後の下りのスライスラインを読み切って入れられればバーディという感じだ。
        <br /><br />

        Roly Mcllroyの真ん中手前のピンへの素晴らしいティーショット
        <video-image-panel video-id="5bBcS5fc5FY" start="4590" end="4610" image-url="/Image/Thumbnail/Hole4_Video_RolyMcllroy1.png"></video-image-panel>
        フェード気味に高さを出してボールを止めている。
        <br /><br />

        Roly Mcllroyの右奥のピンへの素晴らしいティーショット
        <video-image-panel video-id="vegqUyO_YWk" start="4806" end="4820" image-url="/Image/Thumbnail/Hole4_Video_RolyMcllroy3.png"></video-image-panel>
        運悪くダウンスロープに当たってランが出てしまった。
        <br /><br />

        Bubba Watsonの素晴らしいティーショット
        <video-image-panel video-id="_tMQYqSULUY" start="4987" end="5006" image-url="/Image/Thumbnail/Hole4_Video_BubbaWatson1.png"></video-image-panel>
        真ん中の段から上の段へ転がし上げてバーディーチャンス。
        <br /><br />

        Adam Scottの左手前のピンへの素晴らしいティーショット
        <video-image-panel video-id="08HvndZs09I" start="4526" end="4549" image-url="/Image/Thumbnail/Hole4_Video_AdamScott1.png"></video-image-panel>
        ピンの根元に落ちても左奥へいってしまう。この長さの下りのスライスラインを沈められればバーディが取れる。
        左手前の場合はバーディはあまり期待できないといっていいだろう。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        真ん中のピンの場合は右手前のバンカーは入れても良い。

        Jordan Spiethの素晴らしいバンカーショット
        <video-image-panel video-id="_tMQYqSULUY" start="5122" end="5135" image-url="/Image/Thumbnail/Hole4_Video_JordanSpieth2.png"></video-image-panel>
        真ん中の段に落としワンホップで上の段へ。そしてそのままカップイン。
        <br /><br />

        左手前のピンは左のバンカーからはグリーンが受けているので寄せやすい。
        <br /><br />

        Philの左のバンカーからのショット
        <video-image-panel video-id="qFYo6iOL7M4" start="5800" end="5808" image-url="/Image/Thumbnail/Hole4_Video_Phil1.png"></video-image-panel>
        <br /><br />

        左手前のピンは左のバンカー以外はどこからアプローチしても難しい。<br /><br />

        Louis Oosthuizenの右からのバンカー越しのアプローチ
        <video-image-panel video-id="qFYo6iOL7M4" start="4840" end="4870" image-url="/Image/Thumbnail/Hole4_Video_LouisOosthuizen1.png"></video-image-panel>
        <br /><br />

        Brandt Snedekerの右からのバンカー越しのアプローチ
        <video-image-panel video-id="08HvndZs09I" start="5035" end="5045" image-url="/Image/Thumbnail/Hole4_Video_BrandtSnedeker1.png"></video-image-panel>
        雨でグリーンが濡れていたのでうまく止まってくれた。
        <br /><br />

        右奥のピンの右サイドはボールを上げられるためパーセーブのチャンスはある。
        <br /><br />

        Jordan Spiethの真ん中手前のピンへの右からのアプローチ
        <video-image-panel video-id="bMf0JpfpZu8" start="5901" end="5915" image-url="/Image/Thumbnail/Hole4_Video_JordanSpieth3.png"></video-image-panel>
        カラーに落としてもこれだけ転がってしまう。
        <br /><br />

        K.J Choiの右からのアプローチ
        <video-image-panel video-id="vegqUyO_YWk" start="4703" end="4713" image-url="/Image/Thumbnail/Hole4_Video_KJChoi1.png"></video-image-panel>
        <br /><br />

        Tigerの右からのアプローチ
        <video-image-panel video-id="4sV4la-XBYk" start="4687" end="4696" image-url="/Image/Thumbnail/Hole4_Video_Tiger3.png"></video-image-panel>
        チャンスはあるといっても簡単ではない。
        <br /><br />

        奥からは非常に難しいアプローチが残る。<br /><br />

        Tigerの左奥から素晴らしいアプローチ。
        <video-image-panel video-id="fugevHpHSH8" start="78" end="101" image-url="/Image/Thumbnail/Hole4_Video_Tiger1.png"></video-image-panel>
        <br /><br />

        Roly Mcllroyの森の中からのアプローチ
        <video-image-panel video-id="bMf0JpfpZu8" start="3235" end="3260" image-url="/Image/Thumbnail/Hole4_Video_RolyMcllroy2.png"></video-image-panel>
        森からボールが出てきてとてもシュール。Roly「HAHAHA、寄ったな（笑）」って感じで満面の笑顔。
        <br /><br />



    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green4.png" />
        </div>

        Philの真ん中手前のピンへのパット。
        <video-image-panel video-id="5bBcS5fc5FY" start="5188" end="5204" image-url="/Image/Thumbnail/Hole4_Video_Phil2.png"></video-image-panel>
        素晴らしいラインの読み。
        <br /><br />

        Jordan Spiethのパット。
        <video-image-panel video-id="5bBcS5fc5FY" start="5805" end="5818" image-url="/Image/Thumbnail/Hole4_Video_JordanSpieth1.png"></video-image-panel>
        <br /><br />

        Fred Couplesの真ん中奥のピンへのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="2702" end="2718" image-url="/Image/Thumbnail/Hole4_Video_FredCouples1.png"></video-image-panel>
        <br /><br />

        Tigerの右奥のピンへのパット
        <video-image-panel video-id="vegqUyO_YWk" start="1800" end="1814" image-url="/Image/Thumbnail/Hole4_Video_Tiger2.png"></video-image-panel>
        <br /><br />

        どのピン位置も真横からだと非常に気を使うパットが残る。簡単にスリーパットになってしまう。<br /><br />

        Matt Kucharの4パット。
        <video-image-panel video-id="_tMQYqSULUY" start="4779" end="4792" image-url="/Image/Thumbnail/Hole4_Video_MattKuchar1.png"></video-image-panel>
        <video-image-panel video-id="_tMQYqSULUY" start="4840" end="4847" image-url="/Image/Thumbnail/Hole4_Video_MattKuchar2.png"></video-image-panel>
        <br /><br />

        Tigerの右奥のピンへのパット
        <video-image-panel video-id="4sV4la-XBYk" start="4860" end="4868" image-url="/Image/Thumbnail/Hole4_Video_Tiger4.png"></video-image-panel>
        大きく切れるラインで非常に難しい。やはり上りのパットを残すのが非常に大事なのがわかる。
        <br /><br />

    </div>
</div>
