<div>
    <div class="section-title">Hole15</div>
    <div class="hole-image-list-panel">
        <div class="hole-image-panel">
            <img src="~/Image/Hole15.png" />
        </div>
        <div class="green-image-panel">
            <img src="~/Image/Green15.png" />
            <table class="hole-information-table">
                <tbody>
                    <tr>
                        <td>Par</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Distance</td>
                        <td>530y</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Firethorn</td>
                    </tr>
                    <tr>
                        <td>Green</td>
                        <td>W36y×D25y</td>
                    </tr>
                </tbody>
            </table>
            <div class="description-panel">
                左ドッグレッグのパー5。ここもバーディが狙えるホール。
                ティーショットは左に大きな木があるので右サイド狙い。フェアウェイ右サイドに置ければツーオンが狙える。
            </div>
        </div>
    </div>

    <br /><br /><br /><br />

    <div class="section-title">ティーショット</div>
    <div class="description-panel">

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole15_TeeShot.png" />
            </div>
            <div class="text-panel">
                フェアウェイ右サイドがベストポジション。左サイドは木がありレイアップになってしまう。
                セカンドショットは打ち下ろしでツーオン狙い。手前にも奥にも池がありグリーンの縦幅も狭いが皆果敢に狙っていく。
                <br /><br />
            </div>
        </div>

        Philのティーショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="9359" end="9375" image-url="/Image/Thumbnail/Hole15_Video_Phil1.png"></video-image-panel>
        完璧なティーショット。350yくらい飛んでいる。
        <br /><br />

        Philのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="13667" end="13682" image-url="/Image/Thumbnail/Hole15_Video_Phil2.png"></video-image-panel>
        こちらは300yくらいか。
        <br /><br />

        Bubba Watsonのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="13369" end="13390" image-url="/Image/Thumbnail/Hole15_Video_BubbaWatson1.png"></video-image-panel>
        こちらもフェアウェイ右サイドへ300yオーバーのビッグドライブ。
        <br /><br />

    </div>

    <div class="section-title">セカンドショット（ツーオン狙い）</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Hole15_TeeShot.png" />
        </div>
        <div class="text-panel">
            フェアウェイ右サイドにティーショットを置ければ打ち下ろしのグリーンに向かってツーオンで狙っていける。
            <br /><br />

            赤丸のところで左の林の裏にいった場合はピン位置が左サイドならドローボールで傾斜で寄せていくスーパーショットが見れるかもしれない。
            <br /><br />

            ピン位置が右サイドの場合はドローでランが出るのでグリーンには止まらない。レイアップすることになる。
            <br /><br />
        </div>
        <br /><br />

        Matt Kucharの残り252yからのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="13123" end="13141" image-url="/Image/Thumbnail/Hole15_Video_MattKuchar1.png"></video-image-panel>
        あわやアルバトロスかというスーパーショットでイーグルチャンス。
        <br /><br />

        Phil Mickelsonの右奥のピンへのセカンドショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="9630" end="9650" image-url="/Image/Thumbnail/Hole15_Video_Phil4.png"></video-image-panel>
        ピン根元へ。イーグルチャンス。
        <br /><br />

        Tigerののピンへ残り215yからのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="10364" end="10378" image-url="/Image/Thumbnail/Hole15_Video_Tiger2.png"></video-image-panel>
        歩き出すTiger。ピンの根元へついてイーグルチャンス！
        <br /><br />

        Phil Mickelsonの右奥のピンへのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="14375" end="14393" image-url="/Image/Thumbnail/Hole15_Video_Phil3.png"></video-image-panel>
        画面からもだいぶグリーンまで打ち下ろしているのがわかる。
        <br /><br />

        Roly McIlroyの真ん中手前のピンへ残り166yからのセカンドショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10480" end="10496" image-url="/Image/Thumbnail/Hole15_Video_RolyMcIlroy1.png"></video-image-panel>
        <br /><br />

        Tigerの右奥のピンへ残り212yからのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="13273" end="13289" image-url="/Image/Thumbnail/Hole15_Video_Tiger1.png"></video-image-panel>
        <br /><br />

        Tigerの林の裏からのセカンドショット。
        <video-image-panel video-id="fugevHpHSH8" start="730" end="777" image-url="/Image/Thumbnail/Hole15_Video_Tiger3.png"></video-image-panel>
        40yほどドローで曲げて狙っていく。わずかにグリーンオーバー。あと5yほど手前であれば傾斜でピンの近くへいったはず。
        ツーパットでパーディー。
        <br /><br />



    </div>
</div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green15.png" />
        </div>
        <br /><br />

        Matt Kucharのアプローチショット。
        <video-image-panel video-id="4sV4la-XBYk" start="6488" end="6502" image-url="/Image/Thumbnail/Hole15_Video_MattKuchar2.png"></video-image-panel>
        チップインイーグル！
        <br /><br />

        Peter Hansonの左奥からのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="14575" end="14591" image-url="/Image/Thumbnail/Hole15_Video_PeterHanson1.png"></video-image-panel>
        天才的なタッチでバーディーチャンス。
        <br /><br />

        Charl Schwartzelの奥からのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="13602" end="13620" image-url="/Image/Thumbnail/Hole15_Video_CharlSchwartzel1.png"></video-image-panel>
        奥からは非常に速く止めるのは難しい。
        <br /><br />

        Vijay Singhの右サイドのラフからのアプローチショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="12533" end="12542" image-url="/Image/Thumbnail/Hole15_Video_VijaySingh1.png"></video-image-panel>
        <br /><br />

        Tigerの右サイドのラフからのアプローチショット。
        <video-image-panel video-id="4P5_Ld07sMA" start="7998" end="8013" image-url="/Image/Thumbnail/Hole15_Video_Tiger4.png"></video-image-panel>
        あと数ヤード転がらず止まってしまった。
        <br /><br />

        Louis Woosthuizenの右サイドからのアプローチショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="13933" end="13950" image-url="/Image/Thumbnail/Hole15_Video_LouisWoosthuizen1.png"></video-image-panel>
        右サイドからのアプローチもダウンスロープへのアプローチとなる。止めるのは難しい。
        <br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green15.png" />
        </div>

        Tigerのイーグルパット。
        <video-image-panel video-id="4sV4la-XBYk" start="13607" end="13617" image-url="/Image/Thumbnail/Hole15_Video_Tiger5.png"></video-image-panel>
        上りなので狙いやすい。見事イーグル！
        <br /><br />

        Phil Mickelsonのイーグルパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="14670" end="14686" image-url="/Image/Thumbnail/Hole15_Video_Phil5.png"></video-image-panel>
        <br /><br />

    </div>
</div>
