<div>
    <div class="section-title">Hole8</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole8.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green8.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>570y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Yellow Jasmine</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W43y×D23y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-information-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                27
                            </td>
                            <td class="holestats-data">
                                50
                            </td>
                            <td class="holestats-data">
                                9
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.770
                            </td>

                            <td class="holestats-data">
                                16
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                29
                            </td>
                            <td class="holestats-data">
                                54
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.678
                            </td>

                            <td class="holestats-data">
                                18
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                12
                            </td>
                            <td class="holestats-data">
                                32
                            </td>
                            <td class="holestats-data">
                                5
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.792
                            </td>

                            <td class="holestats-data">
                                14
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                1
                            </td>
                            <td class="holestats-data">
                                20
                            </td>
                            <td class="holestats-data">
                                30
                            </td>
                            <td class="holestats-data">
                                2
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.623
                            </td>

                            <td class="holestats-data">
                                17
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 4.83</span> <span class="holestats-history-data">Historical Rank: 15</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    打ち上げのパー5。最後左ドッグレッグでグリーンは左の林の陰に隠れている。
                    グリーン左右にはマウントが5つありグリーンをガードしている。
                    グリーンは横幅が非常に狭く、縦にだいぶ長い。
                </div>
            </div>
        </div>
    </div>


    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole8_TeeShot.png" />
            </div>
            <div class="text-panel">
                飛ばし屋は右のバンカーを超えるビッグドライブを打ってくる。
                右のバンカーに入れなければバーディーのチャンスが近づくのでしっかりフェアウェイに置きたいところだ。
                特にピン位置が手前、左奥の場合は積極的にツーオンを狙っていきたい。
            </div>
        </div>

        <div style="clear:both;margin-bottom:40px;"></div>


        Tigerのティーショット。キャリーで310y超えのビッグドライブ。
        <video-image-panel video-id="8ZCCX-_dg_A" start="4623" end="4643" image-url="/Image/Thumbnail/Hole8_Video_Tiger1.png"></video-image-panel>
        <br /><br />

        Couplesもキャリーで310y超え。この日最長の327yのビッグドライブ。
        <video-image-panel video-id="4sV4la-XBYk" start="6980" end="7003" image-url="/Image/Thumbnail/Hole8_Video_Couples2.png"></video-image-panel>
        <br /><br />


    </div>

    <div class="section-title">セカンドショット（ツーオン狙い）</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole8_SkyView1.png" />
            </div>
            <div class="text-panel">
                グリーンは左の林の陰に隠れている。ドローをかけて狙っていく必要がある。
                かなりの打ち上げとなるので+20yくらいの距離を打っていく必要がある。
            </div>
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole8_SecondShot.png" />
            </div>
            <div class="text-panel">
                ツーオン狙いの場合このラインでドローで打っていく。右サイドのバンカーを超えていければ割と直線的に狙える。
                しかし超えるには310y必要なのでほとんどの選手が左サイドからのセカンドショットとなる。
                左の林がせり出しているため直線的には狙えない（赤の矢印）。ドローをかけて狙っていくことになる。
                <br /><br />


                ピンが手前の場合、ピン手前のラフでもオーケー。ラフでうまくバウンドして勢いが死んでからグリーンに乗ればイーグルチャンスになる。
                <br /><br />
                ピンが左奥の場合、グリーン右のマウントにバウンドする感じで狙っていくと左に戻ってきてイーグルチャンスになる。
                <br /><br />
                ピンが右奥の場合、右サイドに外すとアプローチでバーディーチャンスにつけるのはかなり難しくなる。
                レイアップした方がバーディーチャンスにはつけやすいだろう。
            </div>
        </div>

        Roly Mclloroyのセカンドショット。
        <video-image-panel video-id="bMf0JpfpZu8" start="5843" end="5861" image-url="/Image/Thumbnail/Hole8_Video_RolyMcllroy1.png"></video-image-panel>
        手前のピンに対しての理想的なショット。高めのボールでラフに落として数バウンドしてグリーンへ。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="4608" end="4635" image-url="/Image/Thumbnail/Hole8_Video_Tiger2.png"></video-image-panel>
        左奥のピンへの理想的なショット。ドローをかけて低めのボールで狙っていく。Roly Mcllroyのボールと弾道が違うのがわかる。
        低い分だけランが出て転がり、右サイドのマウントに当たってグリーンに戻ってきて左へ流れていきイーグルチャンス。さすがである。
        <br /><br />

        Phil Mickelsonのドライバーでのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="8452" end="8470" image-url="/Image/Thumbnail/Hole8_Video_Phil3.png"></video-image-panel>
        左のマウントの真上を転がり、右にコロリと転がってもう少しでツーオン。
        <br /><br />

        Fred Couplesのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="7032" end="7048" image-url="/Image/Thumbnail/Hole8_Video_Couples3.png"></video-image-panel>
        ドローで曲げすぎてマウントに左へ。マウントで右に跳ねていればグリーンだったがラフへ。
        左側からはグリーンは受けているのでアプローチは易しめだ。
        <br /><br />

        Fred Couplesのセカンドショット。
        <video-image-panel video-id="_tMQYqSULUY" start="5314" end="5331" image-url="/Image/Thumbnail/Hole8_Video_Couples4.png"></video-image-panel>
        ナイスオンだがここから左奥のピンへのパットは難しい。尾根を上って下っていくラインなのでスリーパットをする選手が多い。
        <br /><br />

        Philのセカンドショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="8070" end="8085" image-url="/Image/Thumbnail/Hole8_Video_Phil1.png"></video-image-panel>
        あと2y左に跳ねればイーグルチャンスだったが止まってしまう。
        雨の日はあまり跳ねないし晴れてると転がるしそういったのも計算に入れながらトッププロは狙っているはずだ。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        ピン位置によって簡単なアプローチの場所が変わってくる。
        <div class="image-panel">
            <img src="~/Image/Green8.png" />
        </div>

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole8_GreenMount.png" />
            </div>
            <div class="text-panel">
                ピンが手前の場合はマウントの裏にいかないように要注意だ。
                写真でマウントが高いのが伝わるだろうか。左右に外して裏側にいくと難しいアプローチが残る。
                ピンを真正面から狙える場所にレイアップできれば簡単なアプローチが残る。寄せればバーディーが取れる。
            </div>
        </div>

        Luke Donaldのチップインイーグル。
        <video-image-panel video-id="PWqlyrezJEc" start="2670" end="2680" image-url="/Image/Thumbnail/Hole8_Video_LukeDonald1.png"></video-image-panel>
        手前のピン位置の場合はこの辺りに持ってくれば割と簡単にバーディーチャンスにつけられる。
        手前のピン位置の時はとにかくティーショットでのバンカーだけは避けたいところだ。バンカーに入れるとここに持ってこれない。
        <br /><br />

        Tigerの天才的なアプローチ。
        <video-image-panel video-id="4P5_Ld07sMA" start="2526" end="2539" image-url="/Image/Thumbnail/Hole8_Video_Tiger5.png"></video-image-panel>
        3,4バウンドしてちょうどマウントを超え、傾斜で手前のピンのすぐそばへ。天才的な想像力とタッチである。
        <br /><br />

        Tigerのアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="7637" end="7648" image-url="/Image/Thumbnail/Hole8_Video_Tiger8.png"></video-image-panel>
        ピンの真正面から少しでも左右にずれると途端にアプローチが難しくなる。
        <br /><br />

        Roly Mcllroyのアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="7670" end="7682" image-url="/Image/Thumbnail/Hole8_Video_RolyMcllroy3.png"></video-image-panel>
        ピンの真正面からだとチップインを狙っていける。
        <br /><br />

        Philのアプローチ。
        <video-image-panel video-id="nnxCQQvLgXw" start="7887" end="7898" image-url="/Image/Thumbnail/Hole8_Video_Phil2.png"></video-image-panel>
        左奥のピンに対してスライス系のスピンで傾斜を使って寄せていく見事なアプローチ。
        <br /><br />

        Phil Mickelsonの尾根越えのアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="8661" end="8675" image-url="/Image/Thumbnail/Hole8_Video_Phil4.png"></video-image-panel>
        尾根を飛び越えてふわっとアプローチを選択。ダウンヒルに落ちてもこの程度のランで済むスピン量はさすが。
        少し奥にいってしまったがバーディチャンス。
        <br /><br />

        Fred Couplesの左の一番奥のマウントの裏からのアプローチ。
        <video-image-panel video-id="4sV4la-XBYk" start="7390" end="7403" image-url="/Image/Thumbnail/Hole8_Video_Couples1.png"></video-image-panel>
        マウントの高さが背丈以上にあるのが分かるだろうか。マウントの裏にいってしまうとランニングアプローチは使えないので上げて寄せないといけない。
        左サイドから奥のピンへはグリーンは受けているのでアプローチは易しめだ。
        <br /><br />

        Angel Cabreraのアプローチ。
        <video-image-panel video-id="2ivVPNDc8ts" start="7963" end="7980" image-url="/Image/Thumbnail/Hole8_Video_AngelCabrera1.png"></video-image-panel>
        ピンが右奥の場合、右サイドに外すとまず寄らない。見ての通りバウンド後に大きく跳ねて左サイドまで流れてしまう。
        ピンが右奥の場合はツーオン狙いで突っ込んで右サイドに外すよりは、手前にレイアップした方がアプローチは易しくなる。
        <br /><br />

        Kenny Perryのアプローチ。
        <video-image-panel video-id="2ivVPNDc8ts" start="8031" end="8046" image-url="/Image/Thumbnail/Hole8_Video_KennyPerry1.png"></video-image-panel>
        素晴らしいスピンでボールを止めてバーディーチャンス。といっても少し距離はある。
        右サイドから右奥のピンへのアプローチはやはり難しい。
        <br /><br />

        Matt Kucharのアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="7608" end="7621" image-url="/Image/Thumbnail/Hole8_Video_MattKuchar1.png"></video-image-panel>
        左奥のピンは寄せやすい。ツーオン狙いで右サイドに外しても3打目でバーディーチャンスにつけることは可能だ。
        <br /><br />

        Tigerのアプローチ。
        <video-image-panel video-id="8ZCCX-_dg_A" start="5539" end="5556" image-url="/Image/Thumbnail/Hole8_Video_Tiger4.png"></video-image-panel>
        ちょうどマウントに当たってしまいランが出なかった。2y先だとマウントのダウンヒルの部分なのでピンに寄っていただろう。
        <br /><br />

        Tigerのアプローチ。
        <video-image-panel video-id="08HvndZs09I" start="6669" end="6688" image-url="/Image/Thumbnail/Hole8_Video_Tiger3.png"></video-image-panel>
        転がしていったものの思ったほど左に戻ってこなかった。
        ツーオン狙いで左の林の枝に当たるとこの辺に落ちて難しいアプローチが残ってしまう。
        <br /><br />

    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green8.png" />
        </div>

        Roly Sabbatiniのパット。
        <video-image-panel video-id="PWqlyrezJEc" start="3241" end="3261" image-url="/Image/Thumbnail/Hole8_Video_RolySabbatini1.png"></video-image-panel>
        100回打って1回入るかというようなラインが入ってイーグル。
        <br /><br />

        Tigerの奥からのパット。
        <video-image-panel video-id="HGzvqU-T85I" start="7397" end="7415" image-url="/Image/Thumbnail/Hole8_Video_Tiger7.png"></video-image-panel>
        マウントの尾根にかかるので曲がり幅の読みが非常に難しい。
        <br /><br />

        Tigerのパット。
        <video-image-panel video-id="4sV4la-XBYk" start="7805" end="7820" image-url="/Image/Thumbnail/Hole8_Video_Tiger6.png"></video-image-panel>
        ここからは距離感が難しい。
        <br /><br />

        Couplesのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="5520" end="5535" image-url="/Image/Thumbnail/Hole8_Video_Couples5.png"></video-image-panel>
        手前からの左奥のピンへは尾根越えになるので距離感が難しい。結局スリーパットしてしまった。
        <br /><br />

        Roly Mcllroyのバーディーパット。
        <video-image-panel video-id="vegqUyO_YWk" start="8446" end="8459" image-url="/Image/Thumbnail/Hole8_Video_RolyMcllroy2.png"></video-image-panel>
        奥からはやはり速い。
        <br /><br />


    </div>
</div>
