<div>
    <div class="section-title">Hole5</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole5.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green5.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>455y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Magnolia</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W34y×D40y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    少し左ドッグレックの455yのパー4。
                    フェアウェイは左に傾斜しており、右サイドからのセカンドショットはピンが見えるが左サイドからは全く見えない。
                    グリーンは2段グリーンになっており非常に複雑な形状をしている。下の段から上の段のピンを狙うパットは非常に難しい。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole5_TeeShot.png" />
            </div>
            <div class="text-panel">
                左のバンカーまで270y。左に傾斜しているので260yくらいのキャリーでバンカーに入ってしまうこともある。
                このバンカーは2.5mくらいの深さがあり、バンカーからは空しか見えない。
                2つ目のバンカーを超えるにはキャリーで310yほど必要で入った時のリスクを考えるとバンカー越えを狙うメリットはない。
                <br /><br />

                左のバンカーに入れるとピン位置によっては1ペナルティに近い。
                あごが高くグリーンまでは届かないため出すだけになり、3打目で残り70-100yくらいのショットが残る。
                特に真ん中の傾斜を上ってすぐのところにピンが切ってある場合はボギーを覚悟せざるを得ない。<br /><br />

                また右の林は280yくらいで入ってしまう。
                そのため多くの選手が3Wでのショットを選択する。バンカーの右サイドのフェアウェイがピンも見えやすくベストポジションとなる。
            </div>
        </div>

        Phil Mickelsonのベストポジションへのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="5495" end="5511" image-url="/Image/Thumbnail/Hole5_Video_Phil1.png"></video-image-panel>
        完璧である。
        <br /><br />

        Jordan Spiethのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="5344" end="5360" image-url="/Image/Thumbnail/Hole5_Video_JordanSpieth1.png"></video-image-panel>
        3Wで距離が無かった分バンカーは避けられた。
        <br /><br />

        Bubba Watsonのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="5381" end="5395" image-url="/Image/Thumbnail/Hole5_Video_BubbaWatson1.png"></video-image-panel>
        フェードがかかりきらずラフへ。
        <br /><br />


    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        ドライバーで距離を稼ぐことが難しいのでセカンドショットは160y-210yと距離が残ることが多く非常に難しい。
        飛ばし屋にとっても難しいホールとなる。
        右サイドのフェアウェイからはピンが見える。左サイドからはピンは見えず、左の林の木の枝が邪魔をすることもあり難しい状況になる。
        <br /><br />

        Jason Dayのベストポジションからのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="4760" end="4777" image-url="/Image/Thumbnail/Hole5_Video_JasonDay1.png"></video-image-panel>
        下の段の平らなところにワンバウンドして上の段へ。素晴らしいショット。
        <br /><br />

        Rickie Fowlerのセカンドショット。216yあるのでランが出るだろうと予測してキャリーは下の段狙い。
        <video-image-panel video-id="_tMQYqSULUY" start="4545" end="4570" image-url="/Image/Thumbnail/Hole5_Video_RickieFowler1.png"></video-image-panel>
        残念ながら傾斜に直撃し戻ってきてしまった。
        傾斜の受けているところに落ちると手前に戻ってきてしまう。2yくらいの誤差で狙う必要がある。
        距離があり晴れていてグリーンが固い時は下の段、距離が短く雨の日でグリーンが柔らかいときは上の段といったことも考える必要がある。
        <br /><br />

        Rickie Fowlerの右の林からのセカンドショット。
        <video-image-panel video-id="1YBuX9wukbA" start="37" end="51" image-url="/Image/Thumbnail/Hole5_Video_RickieFowler2.png"></video-image-panel>
        ドローをかけてグリーンオン。さすがである。
        <br /><br />

        Tiger Woodsのセカンドショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="1884" end="1902" image-url="/Image/Thumbnail/Hole5_Video_Tiger1.png"></video-image-panel>
        スティンガーで低い弾道で転がし上げようとしたものの上の段まで上りきらず戻ってきてしまう。
        <br /><br />

        Phil Mickelsonの左のバンカーからのセカンドショット。体がすっぽり入ってしまうくらいバンカーが深いことがわかる。
        <video-image-panel video-id="5bBcS5fc5FY" start="5746" end="5768" image-url="/Image/Thumbnail/Hole5_Video_Phil2.png"></video-image-panel>
        バンカーに入れた時点であごが高いのでグリーンには届かない。
        打ち終わった後にバンカーから出るときが深さがよくわかる。
        <br /><br />

        Jason Dayの左のラフからのセカンドショット。赤丸で囲ったところに旗がある。左の枝を避けるためドローで打っている。
        <video-image-panel video-id="08HvndZs09I" start="4791" end="4811" image-url="/Image/Thumbnail/Hole5_Video_JasonDay2.png"></video-image-panel>
        完璧である。
        <br /><br />

        Jordan Spiethの左のラフからのセカンドショット。カメラマンがJason Dayの時よりもバンカーに近づいているため旗が全く見えない。
        <video-image-panel video-id="_tMQYqSULUY" start="5636" end="5652" image-url="/Image/Thumbnail/Hole5_Video_JordanSpieth2.png"></video-image-panel>
        ドローがかかりすぎて左奥のバンカーへ。やはりブラインドで見えない分、弾道がイメージしずらいのだろう。
        <br /><br />

        Jordan SpiethやJason Dayのようにティーショットで3Wを使うことでバンカーを避けることができグリーンに乗せる可能性を残すことができる。
        とはいってもいい当たりの場合はバンカーまでいってしまうこともある。
        <br /><br />

        Pihl Mickelsonのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="5820" end="5840" image-url="/Image/Thumbnail/Hole5_Video_Phil4.png"></video-image-panel>
        5yほど大きく飛んでしまってマウントのダウンヒルに落ち跳ねて奥へ。奥からは非常に難しいアプローチとなる。
        <br /><br />





        @*Roly Mcllroyのバンカーショット。我々素人が良くやるようにあごに当たってしまう。
        <video-image-panel video-id="IVh2PCO2y4Y" start="285" end="305" image-url="/Image/Thumbnail/Hole5_Video_BubbaWatson1.png"></video-image-panel>
        しかしトップスピンがかかったボールはそのままコロコロ転がりバーディチャンスへ（笑）Rolyも満面の笑顔である。
        <br /><br />*@

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        Roly Mcllroyのアプローチ。
        <video-image-panel video-id="vegqUyO_YWk" start="5752" end="5770" image-url="/Image/Thumbnail/Hole5_Video_RolyMcllroy1.png"></video-image-panel>
        ダウンヒルの傾斜だがスピンが効いて途中で減速。見事なアプローチ。
        <br /><br />

        Angel Cabrelaのアプローチ。傾斜が凄いのが画面越しでも分かる。
        <video-image-panel video-id="2ivVPNDc8ts" start="5605" end="5623" image-url="/Image/Thumbnail/Hole5_Video_AngelCabrera1.png"></video-image-panel>
        傾斜を上り切らず戻ってきてしまう。
        <br /><br />

        Pihl Mickelsonのバンカーから出したあとの3打目。傾斜から1yのところに落とし、サイドスピンをかけて左手前へ戻している。
        <video-image-panel video-id="5bBcS5fc5FY" start="5918" end="5944" image-url="/Image/Thumbnail/Hole5_Video_Phil3.png"></video-image-panel>
        見事なショット。しかしスピンが強烈にかかりすぎて戻りすぎてしまった。
        残念ながらこのあとのパットは外してボギー。
        ピンに近づけるには1yのところに落としスピンはほどほどで打つ必要がある。これはトッププロでもさすがに難しい。
        <br /><br />

        Jason Dayのバンカーから出したあとの3打目。
        <video-image-panel video-id="bMf0JpfpZu8" start="5256" end="5272" image-url="/Image/Thumbnail/Hole5_Video_JasonDay3.png"></video-image-panel>
        やはり寄らない。手前が怖いのでどうしても奥までいってしまう。
        <br /><br />

        Brandt Snedekerのバンカーから出したあとの3打目。
        画面越しでもグリーンの傾斜が凄いのがわかる。傾斜の手前に落とすと戻ってきてしまうのでそれだけは絶対に避けたい。
        <video-image-panel video-id="08HvndZs09I" start="5808" end="5829" image-url="/Image/Thumbnail/Hole5_Video_BrandtSnedeker1.png"></video-image-panel>
        見事にちょうど傾斜のところに落とすが雨でスピンがかからず少し奥へ。結局ボギー。
        ピックアップした3人ともボギー。やはりバンカーに入るとパーを取るのはかなり厳しくなる。
        <br /><br />

        Pihl Mickelsonの奥からのロブショットでのアプローチ。
        <video-image-panel video-id="4sV4la-XBYk" start="6005" end="6019" image-url="/Image/Thumbnail/Hole5_Video_Phil5.png"></video-image-panel>
        上手すぎである。ショットが上手すぎて止まってしまった。下りのパターを入れて見事なパーセーブ。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green5.png" />
        </div>

        Rickie Fowlerの下の段からのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="4869" end="4885" image-url="/Image/Thumbnail/Hole5_Video_RickieFowler3.png"></video-image-panel>
        <br /><br />

        Matt Kucharの下の段からのパット。
        <video-image-panel video-id="_tMQYqSULUY" start="5497" end="5511" image-url="/Image/Thumbnail/Hole5_Video_MattKuchar1.png"></video-image-panel>
        <br /><br />

        Angel Cabreraの下の段からのパット。
        <video-image-panel video-id="08HvndZs09I" start="5928" end="5942" image-url="/Image/Thumbnail/Hole5_Video_AngelCabrera2.png"></video-image-panel>
        <br /><br />

        Tiger Woodsの下の段からのパット。
        <video-image-panel video-id="2ivVPNDc8ts" start="2184" end="2200" image-url="/Image/Thumbnail/Hole5_Video_Tiger2.png"></video-image-panel>
        少し弱く届かない。
        <br /><br />

        Dustin Johnsonのパット。
        <video-image-panel video-id="bMf0JpfpZu8" start="5327" end="5355" image-url="/Image/Thumbnail/Hole5_Video_DustinJohnson1.png"></video-image-panel>
        弱くて戻ってきてしまう。
        真ん中のピンは段を上がって2yくらいのところに切ってある。ピンを狙いすぎるのはリスクが高い。
        <br /><br />

        Jordan Spiethの右サイドのマウントからのパット。
        <video-image-panel video-id="5bBcS5fc5FY" start="6738" end="6755" image-url="/Image/Thumbnail/Hole5_Video_JordanSpieth3.png"></video-image-panel>
        触っただけでピンの向こう側まで。
        <br /><br />

        5番のグリーンは非常に難しい。ピンから遠い場合はスリーパットをしなければ御の字だ。

    </div>
</div>
