<div>
    <div class="section-title">Hole10</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole10.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green10.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>495y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Camellia</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W20y×D35y</td>
                        </tr>
                    </tbody>
                </table>
                <table class="hole-information-table">
                    <tbody>
                        <tr>

                            <td class="holestats-label">2018</td>
                            <td class="holestats-label">Eagles</td>
                            <td class="holestats-label">Birdies</td>
                            <td class="holestats-label">Pars</td>
                            <td class="holestats-label">Bogeys</td>
                            <td class="holestats-label">2x Bogeys</td>
                            <td class="holestats-label">Other</td>
                            <td class="holestats-label">Avg</td>
                            <td class="holestats-label">Rank</td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R1<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                15
                            </td>
                            <td class="holestats-data">
                                51
                            </td>
                            <td class="holestats-data">
                                17
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                4.126
                            </td>

                            <td class="holestats-data">
                                11
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R2<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                10
                            </td>
                            <td class="holestats-data">
                                50
                            </td>
                            <td class="holestats-data">
                                23
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                1
                            </td>

                            <td class="holestats-data">
                                4.253
                            </td>

                            <td class="holestats-data">
                                9
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R3<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                7
                            </td>
                            <td class="holestats-data">
                                39
                            </td>
                            <td class="holestats-data">
                                7
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                4.000
                            </td>

                            <td class="holestats-data">
                                9
                            </td>
                        </tr>
                        <tr>
                            <td class="holestats-round">
                                R4<br>
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                13
                            </td>
                            <td class="holestats-data">
                                37
                            </td>
                            <td class="holestats-data">
                                3
                            </td>
                            <td class="holestats-data">
                                0
                            </td>
                            <td class="holestats-data">
                                0
                            </td>

                            <td class="holestats-data">
                                3.811
                            </td>

                            <td class="holestats-data">
                                14
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" class="holestats-history">
                                <span class="holestats-history-data">Historical Average: 4.31</span> <span class="holestats-history-data">Historical Rank: 1</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    左ドッグレッグな460yのパー4。フェアウェイの左サイドは傾斜がありランが出る。

                    セカンドショットは前足下がりのライからのショットとなる。距離感を出すのが難しいライになる。
                    距離も残るのでバーディーチャンスにつけることは難しい。

                    グリーンは全体的に左に傾斜している。傾斜が強いので簡単なパットが残ることは少ない。
                    グリーンの周りの木が作る影がパットのラインとスピードを読みにくくしている。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        10番は左ドッグレッグしている。
        <video-image-panel video-id="08HvndZs09I" start="9154" end="9180" image-url="/Image/Thumbnail/Hole10_Video_SkyView.png"></video-image-panel>
        <br /><br />

        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole10_SkyView1.png" />
            </div>
            <div class="text-panel">
                ティーショットはドローで打っていくのが理想。左サイドの傾斜に当ててられればかなりのランがでる。
                ドライバーでドローがかからないと確実に右の林までいってしまうので3Wを選択する選手も多い。
                3Wならドローがかかればベストポジション、かからなかった場合は当たりが悪ければ林まではいかないという感じになる。
            </div>
        </div>

        Tigerのティーショット。
        <video-image-panel video-id="wsHvc2Je19Q" start="1490" end="1508" image-url="/Image/Thumbnail/Hole10_Video_Tiger1.png"></video-image-panel>
        素晴らしい理想的なティーショット。低い弾道のドローで左サイドの傾斜に当たりかなりのランが出ているのがわかる。
        <br /><br />

        Tigerのティーショット。
        <video-image-panel video-id="fugevHpHSH8" start="386" end="403" image-url="/Image/Thumbnail/Hole10_Video_Tiger2.png"></video-image-panel>
        こちらはドローがかからず右のラフへ。
        <br /><br />

        Bubba Watsonのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="9275" end="9310" image-url="/Image/Thumbnail/Hole10_Video_BubbaWatson1.png"></video-image-panel>
        ドライバーで打ったので右の林の中へ。
        <br /><br />

        Tigerのティーショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="8996" end="9018" image-url="/Image/Thumbnail/Hole10_Video_Tiger4.png"></video-image-panel>
        3Wだが右の林の中へ。ダウンヒルになっており松の葉で果てしなく転がっていく。
        <br /><br />

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Green10.png" />
            </div>
            <div class="text-panel">

            </div>
        </div>

        Bubba Watsonの最終日プレーオフ、右サイドからの林からのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="18026" end="18050" image-url="/Image/Thumbnail/Hole10_Video_BubbaWatson3.png"></video-image-panel>
        40y-50yくらいドローをかけてスーパーショットでナイスオン！
        <br /><br />

        Phil Mickelsonの残り204yからのセカンドショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="9817" end="9836" image-url="/Image/Thumbnail/Hole10_Video_Phil2.png"></video-image-panel>
        グリーンが左に傾斜しているのでピンの右サイドに落としてバーディーチャンス。
        <br /><br />

        Luke Donaldのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="8280" end="8295" image-url="/Image/Thumbnail/Hole10_Video_LukeDonald1.png"></video-image-panel>
        ナイスショットでバーディーチャンス
        <br /><br />

        Mike Weirのセカンドショット。
        <video-image-panel video-id="HGzvqU-T85I" start="7287" end="7300" image-url="/Image/Thumbnail/Hole10_Video_MikeWeir1.png"></video-image-panel>
        右奥のピンそばへバーディーチャンス。右奥の段へ乗せるのは非常に難しいがナイスショット。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="6496" end="6510" image-url="/Image/Thumbnail/Hole10_Video_Tiger3.png"></video-image-panel>
        ピンの左サイドにつけると上りのパットが残る。
        <br /><br />

        Louis Oosthuizenの残り238yのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="9590" end="9606" image-url="/Image/Thumbnail/Hole10_Video_LouisOosthuizen1.png"></video-image-panel>
        右のバンカーへ。ティーショットがフェアウェイの右サイドにいってしまうと距離が残る。
        <br /><br />

        Bubba Watsonのセカンドショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="9644" end="9700" image-url="/Image/Thumbnail/Hole10_Video_BubbaWatson2.png"></video-image-panel>
        右の林を抜けてグリーンが見えるところまで転がったのでラッキーだった。
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="9338" end="9360" image-url="/Image/Thumbnail/Hole10_Video_Tiger5.png"></video-image-panel>
        運悪く前が全く見えず最悪の状況。結局ボギーに。
        <br /><br />

        Phil Mickelsonのセカンドショット。
        <video-image-panel video-id="4sV4la-XBYk" start="9782" end="9802" image-url="/Image/Thumbnail/Hole10_Video_Phil4.png"></video-image-panel>
        低いドローで花道まで持っていった。この後寄せワンでパーで切り抜ける。
        <br /><br />


    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Sergio Garciaの右サイドからのアプローチショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10591" end="10610" image-url="/Image/Thumbnail/Hole10_Video_SergioGarcia1.png"></video-image-panel>
        バンカーより右に曲げるとダウンスロープの傾斜へのアプローチとなり寄せるのは困難だ。ボギーの可能性が高くなる。
        <br /><br />

        Chad Campbellの左サイドからのアプローチショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="9228" end="9242" image-url="/Image/Thumbnail/Hole10_Video_ChadCampbell1.png"></video-image-panel>
        こちらはアップスロープへのアプローチになるので比較的寄せやすい。このショットのようにスピンを効かせて止めることもできる。
        <br /><br />

        Justin Roseの手前からのアプローチショット。
        <video-image-panel video-id="kfMSpgr1L3Q" start="10641" end="10656" image-url="/Image/Thumbnail/Hole10_Video_JustinRose1.png"></video-image-panel>
        見ての通り砲台になっており落とし所は見えない。手前からならまだ寄せるチャンスはある。
        <br /><br />

        Rocco Mediateの手前からのアプローチショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="7354" end="7370" image-url="/Image/Thumbnail/Hole10_Video_RoccoMediate1.png"></video-image-panel>
        グリーン近くまで来ているとランニングアプローチで簡単に寄せていける。
        簡単といっても大きく左へ曲がっていくのでラインを読まないといけないが。
        しっかり寄せてパーで切り抜けたいところだ。
        <br /><br />

        Phil Mickelsonの2009年の最終日の手前からのアプローチショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="6212" end="6220" image-url="/Image/Thumbnail/Hole10_Video_Phil3.png"></video-image-panel>
        <br /><br />

        Phil Mickelsonの2010年の最終日の手前からのアプローチショット。
        <video-image-panel video-id="4sV4la-XBYk" start="9957" end="9968" image-url="/Image/Thumbnail/Hole10_Video_Phil5.png"></video-image-panel>
        1年前よりも成長している（笑）素晴らしいアプローチでパ―。
        <br /><br />

        Phil Mickelsonのバンカーからのショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="9597" end="9614" image-url="/Image/Thumbnail/Hole10_Video_Phil6.png"></video-image-panel>
        ダウンスロープへのバンカーショットで非常に難しい。ナイスショットである。
        <br /><br />



    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green10.png" />
        </div>

        Roly Macllroyの左手前からのパット。
        <video-image-panel video-id="5bBcS5fc5FY" start="9763" end="9771" image-url="/Image/Thumbnail/Hole10_Video_RolyMcIlroy1.png"></video-image-panel>
        外してしまったがこの左手前からのパットが一番狙いやすくバーディが取れる可能性が高い。
        <br /><br />

        Tigerの右サイドからのパット。
        <video-image-panel video-id="2ivVPNDc8ts" start="6277" end="6292" image-url="/Image/Thumbnail/Hole10_Video_Tiger6.png"></video-image-panel>
        右サイドからは下りのパットが残り難しい。次を沈めて無事にパーで切り抜けた。
        <br /><br />

    </div>
</div>
