<div>
    <div class="section-title">Hole18</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole18.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green18.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>465y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Holly</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W20y×D35y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">
                    打ち上げの右ドッグレッグのパー4。ティーショットは左右の木がせり出していて非常に狭くプレッシャーがかかる。
                    グリーンは縦長で2段グリーンになっている。縦の距離感が要求される。
                    左サイドは砲台になっておりアプローチが寄りづらい。奥のピンの場合は奥に外すとまず寄らない。
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <div class="image-text-panel">
            <div class="image-panel">
                <img src="~/Image/Hole18_TeeShot.png" />
            </div>
            <div class="text-panel">
                ティーショットは左右から木がせり出していて空中にハザードがあるような感じになっている。
                バンカーはあごが高くあごに近いとグリーンまで届かない場合もあるので避けたい。
                ドライバーだとバンカーまで届いてしまうのでフェードをかけて打っていく必要がある。
                3Wだと270yくらいでバンカーまで届かないので少し狙いやすくなる。
                <br /><br />

            </div>
        </div>

        Bubba Watsonのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="15495" end="15517" image-url="/Image/Thumbnail/Hole18_Video_BubbaWatson1.png"></video-image-panel>
        300yオーバーのビッグドライブ。キャリーで二つ目のバンカーの先まで飛んでいる。
        少し打ち上げているためランがほとんど出ていないのがわかる。
        <br /><br />

        Tigerのティーショット。
        <video-image-panel video-id="vegqUyO_YWk" start="12161" end="12176" image-url="/Image/Thumbnail/Hole18_Video_Tiger1.png"></video-image-panel>
        3Wで打っているのでバンカー手前で止まる。
        <br /><br />

    </div>

    <div class="section-title">セカンドショット</div>
    <div class="description-panel">
        Jason Dayのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="15080" end="15099" image-url="/Image/Thumbnail/Hole18_Video_JasonDay1.png"></video-image-panel>
        <br /><br />

        Tigerのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="12463" end="12483" image-url="/Image/Thumbnail/Hole18_Video_Tiger2.png"></video-image-panel>
        最終日のピン位置の場合、ピン右サイド狙いが定石だ。ピンハイからは読みやすいフックラインが多少距離があってもバーディーを狙える。
        <br /><br />

        Luke Donaldのセカンドショット。
        <video-image-panel video-id="vegqUyO_YWk" start="13984" end="14010" image-url="/Image/Thumbnail/Hole18_Video_LukeDonald1.png"></video-image-panel>
        酷いスタンスからの素晴らしいショット。しかしピンに直撃して手前へ戻ってしまう。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">
        ピンと同サイドに外すのは避けたい。寄せるのは非常に難しい。奥のピンの場合、奥は厳禁だ。
        寄せるのは非常に難しく、強く打って下の段に行くとスリーパットでダブルボギーの可能性も出てきてしまう。
        <br /><br />

        ピンにぶつけた後のLuke Donaldのアプローチショット。
        <video-image-panel video-id="vegqUyO_YWk" start="14253" end="14272" image-url="/Image/Thumbnail/Hole18_Video_LukeDonald2.png"></video-image-panel>
        なんとチップインバーディー！！！
        <br /><br />

        K.J.Choiのアプローチショット。
        <video-image-panel video-id="4sV4la-XBYk" start="15344" end="15356" image-url="/Image/Thumbnail/Hole18_Video_KJChoi1.png"></video-image-panel>
        手前のラフから左手前のピンへのアプローチは簡単だ。チップインを狙っていける。
        <br /><br />

        Jose Maria Olazabalのパターでのアプローチショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="10561" end="10576" image-url="/Image/Thumbnail/Hole18_Video_JoseMariaOlazabal1.png"></video-image-panel>
        左サイドに外してしまうアプローチを寄せるのは難しい。ピンの右のバンカーの間に打っていくことがとても大事だ。
        <br /><br />

        Tim Clerkの右のバンカーからのバンカーショット。
        <video-image-panel video-id="nnxCQQvLgXw" start="15166" end="15181" image-url="/Image/Thumbnail/Hole18_Video_TimClerk1.png"></video-image-panel>
        そのままカップインでバーディー！
        <br /><br />

        K.J.Choiの手前のバンカーからのバンカーショット。
        <video-image-panel video-id="vegqUyO_YWk" start="15750" end="15764" image-url="/Image/Thumbnail/Hole18_Video_KJChoi2.png"></video-image-panel>
        ピンに当たったが惜しくも外れる。
        <br /><br />

        Tigerの右のバンカーからのバンカーショット。
        <video-image-panel video-id="HGzvqU-T85I" start="15470" end="15490" image-url="/Image/Thumbnail/Hole18_Video_Tiger3.png"></video-image-panel>
        傾斜を使って寄せていく。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green18.png" />
        </div>

        Hideki Matuyamaの上の段からのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="7950" end="7979" image-url="/Image/Thumbnail/Hole18_Video_HidekiMatsuyama1.png"></video-image-panel>
        カップに当たるも惜しくも入らず。上の段からは非常に速く止めるのは難しい。カップに当たらなければもうちょっといってしまっていたはずだ。
        <br /><br />

        Louis Oosthuizenの上の段からのパット。
        <video-image-panel video-id="qFYo6iOL7M4" start="15982" end="16000" image-url="/Image/Thumbnail/Hole18_Video_LouisOosthuizen1.png"></video-image-panel>
        <br /><br />


    </div>
</div>
