<div>
    <div class="section-title">Hole6</div>
    <div class="description-panel">
        <div class="hole-image-list-panel">
            <div class="hole-image-panel">
                <img src="~/Image/Hole6.png" />
            </div>
            <div class="green-image-panel">
                <img src="~/Image/Green6.png" />
                <table class="hole-information-table">
                    <tbody>
                        <tr>
                            <td>Par</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>180y</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Juniper</td>
                        </tr>
                        <tr>
                            <td>Green</td>
                            <td>W33y×D31y</td>
                        </tr>
                    </tbody>
                </table>
                <div class="description-panel">

                </div>
            </div>
        </div>
    </div>

    <div class="section-title">ティーショット</div>
    <div class="description-panel">
        <img src="~/Image/Green6_LandingArea.png" /><br />

        それぞれのピン位置への落としどころは青の半透明のところになる。
        <br /><br />

        左手前が簡単なピン位置。バーディーが狙える。グリーン中央に落として傾斜で寄せる、ピンの根元を指しに行くどちらでも好きな形で狙っていける。
        <br /><br />

        右上は約180y先の5y×5y四方の場所に落とさないとバーディチャンスにつかない。
        左に外した場合、傾斜で左に流され長いアップヒルのロングパットになる。
        手前に落ちた場合、手前のラフ（右下の濃い緑色）まで転がっていってしまう。
        手前、右、奥共にしっかり打てればパーセーブのチャンスはある。
        <br /><br />

        左奥は一番難しい。奥に外すと非常に難しいアプローチが残りボギーの可能性が高くなる。
        手前だと下の段に戻ってしまう。どの選手も奥が怖いので手前に戻るショットになることが多い。
        ショットではリスクを負わずピンの手前に落として10y-15yくらいのアップヒルのパットを狙っていくのがセオリーだ。
        <br /><br />

        Phil Mickelsonのティーショット。
        <video-image-panel video-id="2ivVPNDc8ts" start="2595" end="2610" image-url="/Image/Thumbnail/Hole6_Video_Phil1.png"></video-image-panel>
        左手前のピンの根元へ。素晴らしいティーショット。
        <br /><br />

        K.J Choiのティーショット。
        <video-image-panel video-id="4sV4la-XBYk" start="6032" end="6046" image-url="/Image/Thumbnail/Hole6_Video_KJChoi1.png"></video-image-panel>
        左手前のピンに対してグリーン中央へ。傾斜で少しピンに寄ってあとは下りのパットでバーディーを狙っていく感じになる。
        <br /><br />

        Jordan Spiethの右奥のピンへのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="6345" end="6359" image-url="/Image/Thumbnail/Hole6_Video_JordanSpieth1.png"></video-image-panel>
        ピンの手前3yに落としてバーディチャンス。おそらくここがもっとも簡単な上りのパットのラインになる。
        <br /><br />

        Tigerの完璧なティーショット。
        <video-image-panel video-id="08HvndZs09I" start="4958" end="4975" image-url="/Image/Thumbnail/Hole6_Video_Tiger2.png"></video-image-panel>
        ピンの根元に落ちても奥のカラーまでいくのがわかる。
        グリーンに止めるには手前の傾斜からピンまでの5yの距離の間に落とす必要があることがわかる。
        <br /><br />

        Bubba Watsonのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="6248" end="6265" image-url="/Image/Thumbnail/Hole6_Video_BubbaWatson2.png"></video-image-panel>
        ピンの右サイドへ。素晴らしいティーショットだが右サイドだと下りのラインが残ってしまうのでバーディを取るのは簡単ではない。
        <br /><br />

        Matt Kucharのティーショット。
        <video-image-panel video-id="_tMQYqSULUY" start="5750" end="5768" image-url="/Image/Thumbnail/Hole6_Video_MattKuchar1.png"></video-image-panel>
        左サイドの方が上りのラインになるので狙いやすいはずだ。
        <br /><br />

        Json Dayのティーショット。
        <video-image-panel video-id="08HvndZs09I" start="5245" end="5262" image-url="/Image/Thumbnail/Hole6_Video_JasonDay1.png"></video-image-panel>
        見ての通りわずかに数ヤード足りなかったので手前のラフまで戻ってしまった。
        雨で湿っていると2-3y飛ばなかったりする。そういったちょっとしたことが大きな結果の違いに繋がってくる。
        <br /><br />

        Marc Leishmanのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="6881" end="6898" image-url="/Image/Thumbnail/Hole6_Video_MarcLeishman2.png"></video-image-panel>
        あと数ヤード左にいったら傾斜で落ちてしまうところだったがぎりぎりセーフ。
        <br /><br />

        Phil Mickelsonのティーショット。
        <video-image-panel video-id="qFYo6iOL7M4" start="6934" end="6954" image-url="/Image/Thumbnail/Hole6_Video_Phil2.png"></video-image-panel>
        数ヤード左だったので左へ。
        <br /><br />

        Adam Scottのティーショット。
        <video-image-panel video-id="08HvndZs09I" start="5856" end="5876" image-url="/Image/Thumbnail/Hole6_Video_AdamScott1.png"></video-image-panel>
        これも左のほうへ。
        <br /><br />

        Justin Roseのティーショット。
        <video-image-panel video-id="5bBcS5fc5FY" start="7071" end="7099" image-url="/Image/Thumbnail/Hole6_Video_JustinRose1.png"></video-image-panel>
        1y足りず手前へ。
        <br /><br />

    </div>

    <div class="section-title">アプローチショット</div>
    <div class="description-panel">

        Json Dayのアプローチ。
        <video-image-panel video-id="08HvndZs09I" start="5446" end="5455" image-url="/Image/Thumbnail/Hole6_Video_JasonDay2.png"></video-image-panel>
        ランニングアプローチで転がし上げて見事に寄せている。結局外してボギー。
        <br /><br />

        Tigerの手前からのアプローチ。
        <video-image-panel video-id="PWqlyrezJEc" start="4040" end="4047" image-url="/Image/Thumbnail/Hole6_Video_Tiger1.png"></video-image-panel>
        素晴らしいスピンコントロールでボールが止まる。それでもピンの少し奥へ。下りのスライスラインが残る。
        結局外してボギー。
        <br /><br />

        Justin Roseの手前のラフからのアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="7242" end="7259" image-url="/Image/Thumbnail/Hole6_Video_JustinRose2.png"></video-image-panel>
        上げるとあまり寄ってない印象がある。プロでも転がしの方が寄るのは変わらない。
        手前に外すと結構な確率でボギーになってしまう。
        <br /><br />

        Tigerの奥からのチップインバーディー。
        <video-image-panel video-id="9nNr8DS6Uuo" start="6402" end="6409" image-url="/Image/Thumbnail/Hole6_Video_Tiger3.png"></video-image-panel>
        <br /><br />


        Phil Mickelsonの奥からのアプローチ。
        <video-image-panel video-id="5bBcS5fc5FY" start="6605" end="6618" image-url="/Image/Thumbnail/Hole6_Video_Phil3.png"></video-image-panel>
        <br /><br />

        Louis Oosthuizenの奥からのアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="6446" end="6456" image-url="/Image/Thumbnail/Hole6_Video_LouisOosthuizen1.png"></video-image-panel>
        <video-image-panel video-id="qFYo6iOL7M4" start="6587" end="6600" image-url="/Image/Thumbnail/Hole6_Video_LouisOosthuizen2.png"></video-image-panel>
        1y届かずだったがパットをねじ込んでパー。
        <br /><br />

        Bubba Watsonの奥からのアプローチ。
        <video-image-panel video-id="qFYo6iOL7M4" start="6490" end="6503" image-url="/Image/Thumbnail/Hole6_Video_BubbaWatson1.png"></video-image-panel>
        奥からは少し傾斜があるもののパターで寄せられるのでそこまで難しくはない。
        外すなら奥の方がいいかもしれない。
        <br /><br />

        奥がいいといってもグリーンに落ちてから奥なら大丈夫だがキャリーでグリーンをオーバーすると奥のラフまでいってしまう。
        ラフまでいくと非常に難しいアプローチが残ってしまう。
        <br /><br />

        Paul Caseyの奥からのアプローチ。
        <video-image-panel video-id="4IQr069iKJQ" start="5388" end="5405" image-url="/Image/Thumbnail/Hole6_Video_PaulCasey1.png"></video-image-panel>
        危うく傾斜までいってしまうところだったがなんとか止まってくれた。あと30㎝いったら手前のラフまでいっていただろう。
        <br /><br />


    </div>

    <div class="section-title">グリーン</div>
    <div class="description-panel">
        <div class="image-panel">
            <img src="~/Image/Green6.png" />
        </div>

        Brandt Snedekerの下の段からのパット。
        <video-image-panel video-id="08HvndZs09I" start="6608" end="6619" image-url="/Image/Thumbnail/Hole6_Video_BrandtSnedeker1.png"></video-image-panel>
        見事な距離感である。
        <br /><br />

        Adam Scottのパット。
        <video-image-panel video-id="08HvndZs09I" start="6203" end="6214" image-url="/Image/Thumbnail/Hole6_Video_AdamScott2.png"></video-image-panel>
        上ってから大きく曲がるスライスライン。
        <br /><br />

        Adam Scottのパット。
        <video-image-panel video-id="vegqUyO_YWk" start="5540" end="5556" image-url="/Image/Thumbnail/Hole6_Video_AdamScott3.png"></video-image-panel>
        ピンに背中を向けて打っている。難しすぎてあまり寄らず。
        <br /><br />

        Marc Leishmanのアプローチ。ラインがカラーの部分にかかるのでパターが使えない。
        <video-image-panel video-id="08HvndZs09I" start="6135" end="6150" image-url="/Image/Thumbnail/Hole6_Video_MarcLeishman1.png"></video-image-panel>
        我々アマチュアがやるには違法だがグリーン上からのウェッジでの見事なアプローチ。
        <br /><br />



    </div>
</div>
