<div class="image-panel">
    <img src="~/Image//AugustaNationalGolfClub.png" />
</div>

<div class="best-shot-panel">
    各ホールのベストショットor最も有名なショット。16番ホールだけ二つあります。
    <br /><br />

    <div class="hole-panel">
        <div class="hole-number">Hole1</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="_tMQYqSULUY" start="2773" end="2800" image-url="/Image/Thumbnail/Hole1_Video_JordanSpieth1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole2</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="qFYo6iOL7M4" start="3217" end="3316" image-url="/Image/Thumbnail/Hole2_Video_Louis_Oosthuizen1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole3</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="vegqUyO_YWk" start="3867" end="3890" image-url="/Image/Thumbnail/Hole3_Video_Charl_Schwartzel1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole4</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="bMf0JpfpZu8" start="3235" end="3260" image-url="/Image/Thumbnail/Hole4_Video_RolyMcllroy2.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole5</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="vegqUyO_YWk" start="4760" end="4777" image-url="/Image/Thumbnail/Hole5_Video_JasonDay1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole6</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="_tMQYqSULUY" start="6345" end="6359" image-url="/Image/Thumbnail/Hole6_Video_JordanSpieth1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole7</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="4sV4la-XBYk" start="6625" end="6650" image-url="/Image/Thumbnail/Hole7_Video_Tiger4.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole8</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="vegqUyO_YWk" start="4608" end="4635" image-url="/Image/Thumbnail/Hole8_Video_Tiger2.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole9</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="vegqUyO_YWk" start="7966" end="7990" image-url="/Image/Thumbnail/Hole9_Video_AdamScott1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole10</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="qFYo6iOL7M4" start="18026" end="18050" image-url="/Image/Thumbnail/Hole10_Video_BubbaWatson3.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole11</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="PreYFbNZpVU" start="12053" end="12082" image-url="/Image/Thumbnail/Hole11_Video_LarryMize1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole12</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="546S_E5v43g" start="5450" end="5474" image-url="/Image/Thumbnail/Hole12_Video_FredCouples1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole13</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="4sV4la-XBYk" start="12392" end="12410" image-url="/Image/Thumbnail/Hole13_Video_Phil2.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole14</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="4sV4la-XBYk" start="13050" end="13068" image-url="/Image/Thumbnail/Hole14_Video_Phil1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole15</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="qFYo6iOL7M4" start="13123" end="13141" image-url="/Image/Thumbnail/Hole15_Video_MattKuchar1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole16</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="bMf0JpfpZu8" start="10803" end="10830" image-url="/Image/Thumbnail/Hole16_Video_LouisOosthuizen1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole16</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="HGzvqU-T85I" start="13900" end="13935" image-url="/Image/Thumbnail/Hole16_Video_Tiger3.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole17</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="vegqUyO_YWk" start="14767" end="14788" image-url="/Image/Thumbnail/Hole17_Video_CharlSchwartzel1.png"></video-image-panel>
        </div>
    </div>
    <div class="hole-panel">
        <div class="hole-number">Hole18</div>
        <div class="shot-video-panel">
            <video-image-panel video-id="nnxCQQvLgXw" start="15166" end="15181" image-url="/Image/Thumbnail/Hole18_Video_TimClerk1.png"></video-image-panel>
        </div>
    </div>

</div>

<div class="youtube-list-panel">
    <a href="https://www.youtube.com/watch?v=bMf0JpfpZu8">2018 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=kfMSpgr1L3Q">2017 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=bMf0JpfpZu8">2016 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=5bBcS5fc5FY">2015 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=_tMQYqSULUY">2014 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=08HvndZs09I">2013 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=qFYo6iOL7M4">2012 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=vegqUyO_YWk">2011 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4sV4la-XBYk">2010 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=2ivVPNDc8ts">2009 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=8ZCCX-_dg_A">2008 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=PWqlyrezJEc">2007 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=nnxCQQvLgXw">2006 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=HGzvqU-T85I">2005 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4IQr069iKJQ">2004 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=c9otzxIG-Gs">2003 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=9nNr8DS6Uuo">2002 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=t_HKn21IEuA">2001 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=wsHvc2Je19Q">2000 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4P5_Ld07sMA">1997 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=vbsVaBDRtBI">1986 Masters Tournament Final Round</a><br />
</div>


