<div class="image-panel">
    <img src="~/Image//AugustaNationalGolfClub.png" />
</div>

<div class="youtube-list-panel">
    <a href="https://www.youtube.com/watch?v=bMf0JpfpZu8">2018 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=kfMSpgr1L3Q">2017 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=bMf0JpfpZu8">2016 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=5bBcS5fc5FY">2015 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=_tMQYqSULUY">2014 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=08HvndZs09I">2013 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=qFYo6iOL7M4">2012 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=vegqUyO_YWk">2011 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4sV4la-XBYk">2010 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=2ivVPNDc8ts">2009 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=8ZCCX-_dg_A">2008 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=PWqlyrezJEc">2007 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=nnxCQQvLgXw">2006 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=HGzvqU-T85I">2005 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4IQr069iKJQ">2004 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=c9otzxIG-Gs">2003 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=9nNr8DS6Uuo">2002 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=t_HKn21IEuA">2001 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=wsHvc2Je19Q">2000 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=4P5_Ld07sMA">1997 Masters Tournament Final Round</a><br />
    <a href="https://www.youtube.com/watch?v=vbsVaBDRtBI">1986 Masters Tournament Final Round</a><br />
</div>


